.accordion {
  margin: 0;

  &__item {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid $grey-e;
    border-left: 4px solid $grey-e;
    padding: $space-one-half 0 $space-one-half $space-and-half;
    margin-bottom: $space-one-third;
  }

  &__expand-icon {
    position: absolute;
    left: $space-one-half;
    height: $space-one-half;
    width: $space-one-half;
    top: 23px;
    fill: $grey-9;

    &.js-active {
      transform: rotate(90deg);
    }
  }

  &__heading {
    cursor: pointer;
    display: flex;
    font-family: $font-tertiary;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.76;
    color: $grey-5;
  }

  &__content {
    font-family: $font-primary;
    font-size: 1.9rem;
    line-height: 1.68;
    color: $grey-5;

    &.js-active {
      padding-top: $space-one-third;
    }

    &.js-hidden {
      height: 0;
      overflow: hidden;
    }
  }
}
