$accordion-background-color-hover: $mushroom-lighter;
$accordion-background-color-active: $mushroom-lightest;
$accordion-border-color: $grey-e;

.accordion {
  margin: 0;
  position: relative;

  @include breakpoint($break-nav) {
    @at-root .tabs #{&} {
      margin: 0 50px;
      display: flex;
      justify-content: center;
    }
  }

  &__expand-icon {
    fill: $grey-9;
    height: $space-one-half;
    left: $space-one-half;
    width: $space-one-half;
    position: absolute;

    &.js-open {
      transform: rotate(90deg);
    }

    @include breakpoint($break-nav) {
      @at-root .tabs #{&} {
        display: none;
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: $space-one-third;

    @include breakpoint($break-nav) {
      @at-root .tabs #{&} {
        flex: 1 1 auto;
        position: static;

        &::after {
          display: block;
          position: absolute;
          content: " ";
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -10;
        }
      }
    }
  }

  &__heading {
    border: 1px solid $accordion-border-color;
    border-bottom-color: transparent;
    cursor: pointer;
    display: flex;
    font-family: $font-tertiary;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.7;
    padding: $space-one-half $space-and-half;

    @include breakpoint($break-nav) {
      @at-root .tabs #{&} {
        border-color: transparent;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: $space-one-third $space-one-half;

        & > *:first-child {
          width: 100%;
        }
      }
    }

    &:hover {
      background-color: $accordion-background-color-hover;
      @include breakpoint($break-nav) {
        @at-root .tabs #{&} {
          border: 1px solid $accordion-border-color;
        }
      }
    }

    &.js-open {
      background-color: $accordion-background-color-active;
      @include breakpoint($break-nav) {
        @at-root .tabs #{&} {
          border: 1px solid $accordion-border-color;
          border-bottom-color: $accordion-background-color-active;
          color: $grey-5;
          z-index: 10;
        }
      }
    }
  }

  &__content {
    border: 1px solid $accordion-border-color;
    border-top-color: transparent;
    font-family: $font-primary;
    font-size: 1.9rem;
    line-height: 1.68;
    padding: 0 $space-one-third;

    @include breakpoint($break-nav) {
      padding: 0 $space-and-half;

      @at-root .tabs #{&} {
        border-top-color: $accordion-border-color;
        visibility: hidden;
        position: absolute;
        left: 0;
        right: 0;
      }
    }

    @include breakpoint($xl) {
      @at-root .tabs #{&} {
        border-left-color: transparent;
        border-right-color: transparent;
      }
    }

    &.js-open {
      padding-top: $space-one-third;
      height: auto;
      overflow: inherit;

      @include breakpoint($break-nav) {
        @at-root .tabs #{&} {
          background-color: $accordion-background-color-active;
          visibility: visible;
        }
      }
    }

    &.js-closed {
      height: 0;
      overflow: hidden;

      @include breakpoint($break-nav) {
        @at-root .tabs #{&} {
          height: auto;
          overflow: inherit;
          visibility: hidden;
        }
      }
    }
  }
}
