/**
 * Breakpoint Configuration
 * @see https://github.com/Team-Sass/breakpoint/wiki
 *
 */

/////////
// Singularity variables
//
// @include breakpoint-set('to ems', true);
// @include add-grid(12);
// @include add-gutter(1/4);

// Breakpoints variables
$xs: 25em;
$small: 26em;
$medium: 41em;
$large: 48em;
$xl: 75em;
$max-width: $xl;
