.layout-container {
  max-width: 1300px;
  margin: 0 auto;
}

.layout-node-form {
  .layout-region.layout-region-node-main,
  .layout-region.layout-region-node-secondary,
  .layout-region.layout-region-node-footer {
    // float: none;
    // width: 90%;
    // margin: auto;
    // padding-right: 0;
  }

  .layout-region.layout-region-node-main {
    // width: 100%;
  }
}

// Drupal hack because icon positioning is based on ems and something weird
// happens when additional styles are added to the entity edit screen
.field-multiple-drag {
  a.tabledrag-handle .handle {
    padding: 0;
    margin: auto;
    height: 1.5em;
    width: 1.5em;
    background-position: 0 0;
  }
}

.paragraph--view-mode--preview {
  padding-right: 0;

  &.flexbox--paragraph-wrapper,
  &.absolute--paragraph-wrapper {
    font-size: 0.74em;
  }
}

.site-logo {
  float: left;
  width: 18em;
}

.site-logo-2 {
  display: inline-block;
  line-height: 0;
  text-decoration: none;

  img {
    width: 14.5em;
  }
}

.icon-footer {
  display: inline-block;
  line-height: 0;
  margin-right: 0.75em;

  img {
    width: 2em;
  }
}

.sponsor-footer {
  display: block;
  line-height: 0;
  margin-right: 0.75em;

  img {
    width: 10em;
    padding-bottom: 1.5em;
  }

  &:last-of-type {
    img {
      padding-bottom: 0;
    }
  }
}

.header-region {
  padding: 1em 2em 0;
}

.footer-region {
  padding: 45px 45px 55px;
  background-color: #282a32;
  font-size: 15px;
  font-family: "Rubik";
  line-height: 23px;
  text-align: left;
  color: $footer-color;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    flex: 1 0 auto;
  }

  & .footer-region__social-title {
    display: inline-block;
    margin-bottom: 1em;
  }

  & .footer-region__sponsor-title {
    display: inline-block;
    margin-bottom: 1em;
  }

  & address {
    padding-top: 0.5em;
    font-style: normal;

    & a {
      color: #808087;
      text-decoration: none;
    }
  }

  // & a[href^="tel:"]:before {
  // .site-logo-2:before {
  //   // content: "\260e";
  //   // content: "\1F918";
  //   font-size: 4em;
  //   content: "\1F996";
  // }
}

.paragraph-details-YO,
.form-details-YO {
  position: relative;

  details {
    // position: absolute;
    // top: -2em;
    // margin: 0;
    z-index: 10;
    background-color: white;
    max-width: 300px; // hack to get transition to work

    summary {
      padding: 0.2em 0.5em;
    }

    & .details-wrapper {
      opacity: 0;
    }

    &[open] {
      z-index: 20;
      width: 75%;
      max-width: 900px; // hack to get transition to work

      -webkit-transition: max-width .5s, opacity 1.5s;
      transition: max-width .5s, opacity 1.5s;
      // transition-timing-function: ease;

      & .details-wrapper {
        opacity: 1;
      }
    }

    &.paragraph-style-needed {
      background-color: rgb(224, 194, 203);
    }
  }
}

.paragraph-details-YO {
  details {
    position: absolute;
    top: -2em;
    margin: 0;
  }
}



// .paragraph-style-selected {
//   details {
//     background-color: rgb(197, 224, 194);
//   }
// }

// .my-paragraph-title-YO {
//   padding-left: 8em;
// }
