.layout-container {
  .adminimal & {
    width: 97%;
  }
}

// Drupal hack because icon positioning is based on ems and something weird
// happens when additional styles are added to the entity edit screen
// .field-multiple-drag {
a.tabledrag-handle .handle {
  padding: 0;
  margin: auto;
  height: 1.5em;
  width: 1.5em;
  background-position: 0 0;
}
// }

.paragraph--view-mode--preview {
  padding-right: 0;

  &.flexbox--paragraph-wrapper,
  &.absolute--paragraph-wrapper {
    font-size: 0.74em;
  }
}

.site-logo-2 {
  display: inline-block;
  line-height: 0;
  text-decoration: none;

  img {
    width: 14.5em;
  }
}

.icon-footer {
  display: inline-block;
  line-height: 0;
  margin-right: 0.75em;

  img {
    width: 2em;
  }
}

.sponsor-footer {
  display: block;
  line-height: 0;
  margin-right: 0.75em;

  img {
    width: 10em;
    padding-bottom: 1.5em;
  }

  &:last-of-type {
    img {
      padding-bottom: 0;
    }
  }
}

// .form-details-YO,
.paragraph-details-form-wrapper {
  position: relative;

  details {
    // position: absolute;
    // top: -2em;
    // margin: 0;
    z-index: 10;
    background-color: white;
    max-width: 300px; // hack to get transition to work

    summary {
      padding: 0.2em 0.5em;
    }

    & .details-wrapper {
      opacity: 0;
    }

    &[open] {
      z-index: 20;
      width: 75%;
      max-width: 900px; // hack to get transition to work
      -webkit-transition: max-width 0.5s, opacity 1.5s;
      transition: max-width 0.5s, opacity 1.5s;
      // transition-timing-function: ease;

      & .details-wrapper {
        opacity: 1;
      }
    }

    &.paragraph-style-needed {
      background-color: rgb(224, 194, 203);
    }
  }
}

.paragraph-details-form-wrapper {
  details {
    position: absolute;
    top: -2em;
    margin: 0;
  }
}
