@mixin image {
  display: block;
  height: auto;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

// When an image is a block, this is it's class (BEM)
.img {
  @include image;
}

// An img that is an element of a card block
.card__img {
  @extend .img;
}

// An img that is an element of an inset block
.inset__img {
  @extend .img;
}

// An img that is an element of a paragraph block
.paragraph__img {
  @extend .img;
}

// An img that is an element of a absolute block
.absolute__img {
  @extend .img;
}

// An img that is an element of a flexbox block
.flexbox__img {
  @extend .img;
}

// An img that is an element of a block block
.block__img {
  @extend .img;
}
