{% extends "field.html.twig" %}
{% set attributes = attributes.addClass('accordion') %}

{% block item_block %}
  {% if element['#object'].field_txex_boolean_01.value %}
    <div{{ item.attributes.addClass('tabs-child') }}>
      {{- item.content -}}
    </div>
  {% else %}
    {{- item.content -}}
  {% endif %}
{% endblock %}
