{#
/**
* @file
* Theme override for a views exposed form.
*
* Available variables:
* - form: A render element representing the form.
*
* @see template_preprocess_views_exposed_form()
*/
#}
{% if q is not empty %}
    {#
      This ensures that, if clean URLs are off, the 'q' is added first,
      as a hidden form element, so that it shows up first in the POST URL.
    #}
    {{ q }}
{% endif %}
<div class="event-search-head">
    <h1 class="search-label">Events</h1><span class="location-searched">{% if form['#extra'].search_val %} near {{ form['#extra'].search_val }}{% endif %}</span>
    <span class="toggle-event-search"><a class="flexbox__link search-toggle">Change</a></span>
</div>
<div class="form--inline clearfix event-search-form hidden">
    <div class="search-form-close"><a class="close-button"></a></div>
    <div class="hidden">{{ form.actions }}</div>
    {{ form|without('actions') }}
</div>
