// Breakpoints
$break-nav-max: max-width 767px;
$break-nav: 768px;
// Backgrounds
$color-menu-bg-dark: $purple-2;
$color-menu-bg-dark-hover: $purple-1;
$color-menu-bg-light: $mushroom-light;
// Text
$color-menu-text-dark: $purple-5;
$color-menu-text-medium: $purple-4;
$color-menu-text-light: $white;
// Submenu toggles
$main-menu-dropdown-toggle-width: $space-double;

.main-menu-wrapper {
  background-color: $color-menu-bg-light;
}

.main-nav {
  @include breakpoint($break-nav-max) {
    position: fixed;
    width: 90vw;
    max-width: 768px;
    overflow: scroll;
    left: -100vw;
    top: 0;
    transition: left 0.5s ease;
    background-color: $purple-2;
    z-index: 1;

    &.js-visible {
      left: 0;
    }
  }
}

.main-menu-toggle {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  padding: $space-one-half $space;
  color: $purple-5;
  text-decoration: none;

  @include breakpoint($break-nav) {
    display: none;
  }

  &--close {
    background-color: $purple-1;
    padding: $space-one-half;
  }

  &__icon {
    display: block;
    content: '';
    width: $space;
    height: 2px;
    background-color: $purple-5;

    &::before,
    &::after {
      position: relative;
      display: block;
      content: '';
      width: $space;
      height: 2px;
      background-color: $purple-5;
    }

    &::before {
      top: -6px;
    }

    &::after {
      bottom: -4px;
    }

    &.js-menu-active {
      background-color: transparent;
      margin-left: auto;

      &::before {
        transform: rotate(45deg);
        top: 0;
        left: 5px;
        width: $space-two-thirds;
        background-color: $color-menu-text-medium;
      }

      &::after {
        transform: rotate(-45deg);
        bottom: 2px;
        left: 5px;
        width: $space-two-thirds;
        background-color: $color-menu-text-medium;
      }
    }
  }
}

.main-menu {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  margin: 0;
  padding: 0;

  // ul
  &--level-0 {
    @include breakpoint($break-nav) {
      flex-flow: row nowrap;
    }
  }

  &--level-1 {
    display: none;
    min-width: 300px;
    background-color: $color-menu-bg-dark;

    &.js-visible {
      @include breakpoint($break-nav-max) {
        display: flex;
        flex-basis: 100%;
      }
    }
  }

  // li
  &__item {
    align-items: center;

    // Items with children
    &--with-sub {
      display: flex;
      flex-flow: row wrap;

      @include breakpoint($break-nav) {
        flex-flow: column nowrap;

        &.main-menu__item--level-0 {
          &:hover {
            > .main-menu--sub {
              position: absolute;
            }

            .main-menu--sub {
              display: block;
              z-index: 1;
            }
          }
        }
      }
    }

    &--level-0 {
      @include breakpoint($break-nav-max) {
        border-top: 1px solid $color-menu-text-medium;
      }
    }
  }

  // a
  &__link {
    display: block;
    flex: 1 0 auto;
    padding: $space;
    text-decoration: none;

    &:hover {
      color: $burnt-orange;
    }

    &--level-0 {
      color: $color-menu-text-light;
      font-size: 2.2rem;
      font-family: $font-secondary-30;
      line-height: 1.14;

      @include breakpoint($break-nav) {
        color: $color-menu-text-dark;
      }
    }

    &--level-1 {
      padding: $space-two-thirds $space-and-half;
      color: $color-menu-text-light;
      font-size: 1.8rem;
      line-height: 1.11;
      font-family: $font-tertiary;
    }

    &--level-2 {
      padding: $space-two-thirds $space-and-half $space-two-thirds $space-double;
      color: $color-menu-text-medium;
      font-size: 1.6rem;
      line-height: 1.3125;
      font-family: $font-tertiary;
    }

    @include breakpoint($break-nav-max) {
      &--level-1,
      &--level-2 {
        padding-right: $space-one-third;
        max-width: calc(90vw - #{$main-menu-dropdown-toggle-width});
      }
    }
  }

  &__expand-sub {
    fill: $color-menu-text-medium;
    cursor: pointer;
    flex: 0 0 $main-menu-dropdown-toggle-width;
    height: 2.2rem;

    &--open {
      transform: rotate(90deg);
    }

    @include breakpoint($break-nav) {
      display: none;
    }
  }
}

// Overlay on page
.js-main-menu-close {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  content: '';
  height: 100vh;
  width: 100vw;
  background-color: $black-trans;
}
