<div class="main-menu-wrapper">
  <a href="#" id="main-menu-toggle" class="main-menu-toggle">
    <span class="main-menu-toggle__icon">
      <span class="main-menu-toggle__text">Main Menu</span>
    </span>
  </a>
  <nav id="main-nav" class="main-nav">
    {% include "@molecules/menus/_menu.twig" with {
      menu_class: "main-menu",
      items: menu_items,
    } %}
  </nav>
</div>
