.pager-1 {
  font-family: $font-tertiary;
  font-size: 1.5rem;

  a {
    color: $grey-7;
    text-decoration: none;

    &:hover {
      color: $burnt-orange;
    }
  }

  .pager__items {
    display: flex;
    justify-content: center;
  }

  .pager__item {
    flex: 0 1 auto;
    list-style: none;
    padding: 2px 7px;

    &.is-active {
      color: #888;
      background-color: #f6f6f2;
    }
  }

  &__action-icon {
    fill: $grey-7;
    height: 1rem;
    width: 1rem;

    &:hover {
      fill: $burnt-orange;
    }

    &--previous {
      transform: rotate(180deg);
    }
  }
}
