.absolute__item {
  @include breakpoint($break-layout) {
    position: absolute;
  }

  // &--full-image:nth-of-type(2) {
  //   top: 0;
  //   right: 0;
  //   height: 100%;
  //   margin: 0;
  //   margin-right: auto;
  //   z-index: 20;
  //   overflow: scroll;
  // }

  &--feature-10 {
    @include breakpoint($break-layout) {
      width: 10%;
    }
  }

  &--feature-25 {
    @include breakpoint($break-layout) {
      width: 25%;
    }
  }

  &--feature-33 {
    @include breakpoint($break-layout) {
      width: 33%;
    }
  }

  &--feature-50 {
    @include breakpoint($break-layout) {
      width: 50%;
    }
  }

  &--feature-66 {
    @include breakpoint($break-layout) {
      width: 66%;
    }
  }

  &--feature-75 {
    @include breakpoint($break-layout) {
      width: 75%;
    }
  }

  &--feature-100 {
    @include breakpoint($break-layout) {
      width: 100%;
    }
  }

  // Top Left Quadrant
  &:nth-of-type(1) {
    position: static;
    width: auto;
    padding: 0;
  }

  // Top Left Quadrant
  &--1q:nth-of-type(2) {
    top: 0;
    left: 0;
    
    @include breakpoint($break-layout) {
      margin-top: 50px;
      margin-left: 50px;
    }
  }

  // Top Right Quadrant
  &--2q:nth-of-type(2) {
    top: 0;
    right: 0;

    @include breakpoint($break-layout) {
      margin-top: 50px;
      margin-right: 50px;
    }
  }

  // Bottom Right Quadrant
  &--3q:nth-of-type(2) {
    bottom: 0;
    right: 0;

    @include breakpoint($break-layout) {
      margin-bottom: 50px;
      margin-right: 50px;
    }
  }

  // Bottom Left Quadrant
  &--4q:nth-of-type(2) {
    bottom: 0;
    left: 0;

    @include breakpoint($break-layout) {
      margin-bottom: 50px;
      margin-left: 50px;
    }
  }

  // Left Side Alignment
  &--overlay-left:nth-of-type(2) {
    top: 0;
    bottom: 0;
    left: 0;
  }

  // Right Side Alignment
  &--overlay-right:nth-of-type(2) {
    top: 0;
    bottom: 0;
    right: 0;
  }

  &--overlay-full:nth-of-type(2) {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
