.flexbox__item {
  @include breakpoint($break-layout) {
    &--reverse-order:first-of-type {
      order: 2;
    }
  }

  &--vertical {
    flex: 0 0 auto; //flex-grow flex-shrink flex-basis
    // justify-content: stretch; // This isn't a thing...
    margin-bottom: 0;
  }

  &--horizontal {
    flex: 1 1 0; //flex-grow flex-shrink flex-basis
  }

  &--feature {
    // padding: 30px;
  }

  &--feature-10 {
    &:first-of-type {
      flex: 0 1 10%;
    }

    &:only-of-type {
      flex: 1 1 auto;
    }
  }

  &--feature-15 {
    &:first-of-type {
      flex: 0 1 15%;
    }

    &:only-of-type {
      flex: 1 1 auto;
    }
  }

  &--feature-20 {
    &:first-of-type {
      flex: 0 1 20%;
    }

    &:only-of-type {
      flex: 1 1 auto;
    }
  }

  &--feature-25 {
    &:first-of-type {
      flex: 0 1 25%;
    }

    &:only-of-type {
      flex: 1 1 auto;
    }
  }

  &--feature-33 {
    &:first-of-type {
      flex: 0 0 33%;
    }

    &:only-of-type {
      flex: 1 1 auto;
    }

    @include breakpoint(max-width $break-layout) {
      flex-basis: auto;
    }
  }

  // @include breakpoint(max-width $break-layout) {
    &--feature-40 {
      &:first-of-type {
        flex: 0 1 40%;
      }

      &:only-of-type {
        flex: 1 1 auto;
      }

      @include breakpoint(max-width $break-layout) {
        flex-basis: auto;

        @at-root .flexbox__item#{&} {
          padding: $space;
        }
      }
    }

    &--feature-50 {
      &:first-of-type {
        flex: 0 1 50%;
      }

      &:only-of-type {
        flex: 1 1 auto;
      }

      @include breakpoint(max-width $break-layout) {
        flex-basis: auto;

        @at-root .flexbox__item#{&} {
          padding: $space;
        }
      }
    }

    &--feature-60 {
      &:first-of-type {
        flex: 0 1 60%;
      }

      &:only-of-type {
        flex: 1 1 auto;
      }

      @include breakpoint(max-width $break-layout) {
        flex-basis: auto;

        @at-root .flexbox__item#{&} {
          padding: $space;
        }
      }
    }

    &--feature-66 {
      &:first-of-type {
        flex: 0 1 66%;
      }

      &:only-of-type {
        flex: 1 1 auto;
      }

      @include breakpoint(max-width $break-layout) {
        flex-basis: auto;

        @at-root .flexbox__item#{&} {
          padding: $space;
        }
      }
    }

    &--feature-75 {
      &:first-of-type {
        flex: 0 1 75%;
      }

      &:only-of-type {
        flex: 1 1 auto;
      }

      @include breakpoint(max-width $break-layout) {
        flex-basis: auto;

        @at-root .flexbox__item#{&} {
          padding: $space;
        }
      }
    }

    &--feature-80 {
      &:first-of-type {
        flex: 0 1 80%;
      }

      &:only-of-type {
        flex: 1 1 auto;
      }

      @include breakpoint(max-width $break-layout) {
        flex-basis: auto;

        @at-root .flexbox__item#{&} {
          padding: $space;
        }
      }
    }

    &--feature-100 {
      position: relative;
      flex-basis: auto;
      align-content: flex-start;

      &:first-of-type {
        flex: 0 1 100%;
        align-self: space-around;
      }

      @include breakpoint(max-width $break-layout) {
        @at-root .flexbox__item#{&} {
          padding: $space;
        }
      }
    }

    &--feature-100-25 {
      position: relative;
      flex-basis: auto;
      align-content: flex-start;

      &:first-of-type {
        flex: 0 1 100%;
        align-self: space-around;
      }

      @include breakpoint(max-width $break-layout) {
        flex-basis: 0;

        &:first-of-type {
          flex: 0 1 25%;
        }

        &:only-of-type {
          flex: 1 1 auto;
        }

        @at-root .flexbox__item#{&} {
          padding: $space;
        }
      }
    }

    &--feature-100-33 {
      position: relative;
      flex-basis: auto;
      align-content: flex-start;

      &:first-of-type {
        flex: 0 1 100%;
        align-self: space-around;
      }

      @include breakpoint(max-width $break-layout) {
        flex-basis: 0;

        &:first-of-type {
          flex: 0 1 33%;
        }

        &:only-of-type {
          flex: 1 1 auto;
        }

        @at-root .flexbox__item#{&} {
          padding: $space-one-third $space-one-third $space-one-third 0;
        }
      }
    }
  // }

  @include breakpoint($break-layout) {
    &--region-layout {
      margin-right: 40px;
    }
  }

  &--region-layout:nth-last-child(2) {
    max-width: 630px;

    @include breakpoint($break-nav-max) {
      padding-left: 0;
    }
  }

  &--region-layout:first-of-type {
    max-width: none;

    @include breakpoint($break-nav-max) {
      display: none;
    }
  }

  &--region-layout:only-of-type {
    margin-right: 0;

    @include breakpoint($break-nav-max) {
      display: block;
      width: 100%;
    }
  }
}

.flexbox__item--paragraph-wrapper.flexbox__item--vertical {
  &:last-of-type {
    margin-bottom: 0;
  }
}
