$standard-margin: 0;

.flexbox__item {
  flex: 1 1 0; //flex-grow flex-shrink flex-basis
  // margin-right: $standard-margin;

  &--background-color-1 {
    background-color: $flexbox-background-color-1;
  }

  &--background-color-2 {
    background-color: $flexbox-background-color-2;
  }

  &--background-color-3 {
    background-color: $white;
  }

  &--text-alt-1 {
    color: $white;
  }
}



.flexbox__item--reverse-order:nth-of-type(1) {
  order: 2;
}

.flexbox__item--vertical {
  flex: 0 0 auto; //flex-grow flex-shrink flex-basis
  justify-content: stretch;
  margin: 0;
}

.flexbox__item--horizontal {
  padding: 0 50px;

  &:first-of-type {
    padding: 0;
  }

  &:last-of-type {
    // padding-right: 0;
  }

  &:only-of-type {
    // padding-right: 50px;
  }
}

.flexbox__item--feature-20 {
  &:nth-of-type(1) {
    flex: 0 0 20%;
  }
}

.flexbox__item--feature-25 {
  &:nth-of-type(1) {
    flex: 0 0 25%;
  }
}

.flexbox__item--feature-33 {
  &:nth-of-type(1) {
    flex: 0 0 33%;
  }
}

.flexbox__item--feature-40 {
  &:nth-of-type(1) {
    flex: 0 0 40%;
  }
}

.flexbox__item--feature-50 {
  &:nth-of-type(1) {
    flex: 0 0 50%;
  }
}

.flexbox__item--feature-60 {
  &:nth-of-type(1) {
    flex: 0 0 60%;
  }
}

.flexbox__item--feature-66 {
  &:nth-of-type(1) {
    flex: 0 0 66%;
  }
}

.flexbox__item--feature-75 {
  &:nth-of-type(1) {
    flex: 0 0 75%;
  }
}

.flexbox__item--feature-80 {
  &:nth-of-type(1) {
    flex: 0 0 80%;
  }
}

.flexbox__item--feature-100 {
  flex-basis: auto;
  align-content: flex-start;
  padding: 50px;
  // margin: 0 2.5%;
  &:nth-of-type(1) {
    flex: 0 0 100%;
    align-self: space-around;
    margin: 0 0 $standard-margin 0;
  }

  &:last-of-type {
    // margin-right: 2.5%;
  }
}

.flexbox__item--feature-33,
.flexbox__item--feature-66,
.flexbox__item--feature-100 {
  // border-style: solid;
  // border-width: 1px;
}

.flexbox__item--region-layout {
  max-width: 630px;
}

.flexbox__item--region-layout:first-of-type {
  margin-right: 60px;
}
