.flexbox__item {
  &--reverse-order:first-of-type {
    order: 2;
  }

  &--vertical {
    flex: 0 0 auto; //flex-grow flex-shrink flex-basis
    // justify-content: stretch; // This isn't a thing...
    margin-bottom: 0;
  }

  &--horizontal {
    flex: 1 1 auto; //flex-grow flex-shrink flex-basis

    @include breakpoint($break-layout) {
      flex-basis: 0;
    }
  }

  &--feature {
    // padding: 30px;
  }

  &--feature-10 {
    &:first-of-type {
      flex: 0 1 10%;
    }
  }

  &--feature-15 {
    &:first-of-type {
      flex: 0 1 15%;
    }
  }

  &--feature-20 {
    &:first-of-type {
      flex: 0 1 20%;
    }
  }

  &--feature-25 {
    &:first-of-type {
      flex: 0 1 25%;
    }
  }

  &--feature-33 {
    &:first-of-type {
      flex: 0 0 33%;
    }
  }

  &--feature-40 {
    &:first-of-type {
      flex: 0 1 40%;
    }
  }

  &--feature-50 {
    &:first-of-type {
      flex: 0 1 50%;
    }
  }

  // #{&}--feature-50-flush#{&}--reverse-order {
  //   &:first-of-type {
  //     padding-left: 50px;
  //     flex: auto;
  //     order: 2;
  //   }
  //
  //   &:last-of-type {
  //     padding: 0;
  //     flex: 0 0 50%;
  //   }
  // }

  &--feature-60 {
    &:first-of-type {
      flex: 0 1 60%;
    }
  }

  &--feature-66 {
    &:first-of-type {
      flex: 0 1 66%;
    }
  }

  &--feature-75 {
    &:first-of-type {
      flex: 0 1 75%;
    }
  }

  &--feature-80 {
    &:first-of-type {
      flex: 0 1 80%;
    }
  }

  &--feature-100 {
    position: relative;
    flex-basis: auto;
    align-content: flex-start;

    &:first-of-type {
      flex: 0 1 100%;
      align-self: space-around;
    }
  }

  &--region-layout {
    max-width: 630px;
  }

  &--region-layout:first-of-type {
    margin-right: 60px;
  }
}

.flexbox__item--paragraph-wrapper.flexbox__item--vertical {
  &:last-of-type {
    margin-bottom: 0;
  }
}
