.absolute__item,
.flexbox__item,
.block__item {
  &--layout-box-7 {
    margin-bottom: $component-margin;
    border-width: $component-border-width;
  }

  // &--layout-box-8 {
  //   margin-bottom: $component-margin;
  //   border-width: $component-border-width;
  // }

  &--background-color-1 {
    background-color: $item-background-color-1;
  }

  &--background-color-2 {
    background-color: $item-background-color-2;
  }

  &--background-color-3 {
    background-color: $item-background-color-3;
  }

  &--background-color-4 {
    background-color: $item-background-color-4;
  }

  &--background-color-5 {
    background-color: $item-background-color-5;
  }

  &--background-color-6 {
    background-color: $item-background-color-6;
  }

  &--background-color-7 {
    background-color: $item-background-color-7;
  }

  &--background-color-8 {
    background-color: $item-background-color-8;
  }

  &--item-box-1,
  &--item-box-2,
  &--item-box-3,
  &--item-box-4,
  &--item-box-5,
  &--item-box-6,
  &--item-box-7 {
    &:first-of-type {
      padding: 0;
    }
  }

  &--item-box-1 {
    &,
    &:only-of-type {
      padding: 0 $row-padding;
    }
  }

  &--item-box-2 {
    &,
    &:only-of-type {
      padding-left: $row-padding;
    }
  }

  &--item-box-3 {
    &,
    &:only-of-type {
      padding: $row-padding;
    }
  }

  &--item-box-4 {
    &,
    &:only-of-type {
      padding: 0 $component-padding;
    }
  }

  &--item-box-5 {
    &,
    &:only-of-type {
      padding-left: $component-padding;
    }
  }

  &--item-box-6 {
    &,
    &:only-of-type {
      padding: $component-padding;
    }
  }

  &--item-box-7 {
    &,
    &:only-of-type {
      padding: $component-padding $component-padding $component-padding $row-padding;
    }
  }

  &--item-box-8 {
    &,
    &:only-of-type {
      padding: $list-item-padding 0;
    }

    &:first-of-type {
      padding: 0 $component-padding;
    }
  }
}
