{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "at-root",
        "content",
        "each",
        "else",
        "extend",
        "function",
        "if",
        "include",
        "mixin",
        "return",
      ]
    }]
  }
}
