
$purple-1: #34364d;//$main-menu-highlight:
$purple-2: #393d57;//$main-menu-sub-highlight:
$purple-3: #4c486a;//$main-menu-vertical-border:
$purple-4: #a3a1b5;

$grey-2: #222; //$menu-text-color-1
// $grey-3: #333;
$grey-4: #444; //$menu-text-color-4
$grey-5: #555;
$temp4: #565656;
// $grey-6: #666;
$grey-7: #777;
$temp1: #9b9b9b;
$grey-8: #888;
// $grey-9: #999;
$grey-a: #aaa; //$menu-text-color-6
$temp2: #c1c1c1;
$temp3: #e6e6e6;
$white: #fff;
$trans-white: rgba(255, 255, 255, 0.8);


$dark-mushroom: #96967f; //$menu-text-color-3
$light-mushroom: #f6f6f2; //$menu-text-color-2
$temp6: #f6f7f3;


$burnt-orange: #cb6015; //$menu-text-color-5
$tangerine: #fab54f;

$blue: #1383b8;
