$purple-1: #34364d;//$main-menu-highlight:
$purple-1-1: #38354c;
$purple-1-2: #3d3b55;
$purple-2: #393d57;//$main-menu-sub-highlight:
$purple-3: #4c486a;//$main-menu-vertical-border:
$purple-4: #a1a2b5;
$purple-5: #282a32;
$trans-purple-1: rgba(52, 54, 77, 0.8); // Derived from $purple-1

$grey-2: #222; //$menu-text-color-1
$grey-4: #444; //$menu-text-color-4
$grey-5: #555;
$grey-7: #777;
$grey-8: #888;
$grey-9: #9e9e9e;
$grey-a: #aaa; //$menu-text-color-6
$grey-e: #e6e6e6;
// $trans-white: rgba(255, 255, 255, 0.8);

$mushroom: #96967f; //$menu-text-color-3
$mushroom-light: #f2f3ed;
$mushroom-lighter: #f6f6f2; //$menu-text-color-2
$white: #fff;
$black-trans: rgba(0, 0, 0, 0.6);

$burnt-orange: #cb6015; //$menu-text-color-5

$brown-orange: #74513a;
$trans-brown-orange: rgba(116, 81, 58, 0.8);

$tangerine: #fab54f;
$trans-tangerine: rgba(250, 181, 79, 0.8); // Derived from $tangerine

$blue: #1383b8;
