// pattern Lab
$image-background-color: $grey-a;

// Links
$color-link: $burnt-orange;
$color-link--hover: $grey-a;

// Misc
$divider-color: $grey-a;

// Button
$color-button--bg: $burnt-orange;
$color-button--bg--hover: $grey-a;
$color-button--text: $light-mushroom;
$color-button--text--hover: $light-mushroom;
$color-button--text--visited: $grey-4;

$color-button--alt-1--bg: $purple-1;

$color-button--alt-2--bg: $grey-a;
$color-button--alt-2--bg--hover: $grey-4;

$color-button--alt-2--text: $grey-a;
$color-button--alt-2--text--hover: $grey-4;

// Blockquote
$color-blockquote--border: $grey-a;

// menus
$main-menu-highlight: $purple-1;
$main-menu-sub-highlight: $purple-2;
$main-menu-vertical-border: $purple-3;

$menu-text-color-1: $grey-2;
$menu-text-color-4: $grey-4;
$menu-text-color-6: $grey-a;
$menu-text-color-2: $light-mushroom;
$menu-text-color-3: $dark-mushroom;
$menu-text-color-5: $burnt-orange;

// heading
$heading-background: $burnt-orange;
$heading-color: $light-mushroom;

$heading-color-h1-alt-3: $grey-5;
$heading-color-h2-alt-3: $grey-7;

$heading-color-h1-alt-5: $grey-5;
$heading-color-h2-alt-5: $grey-7;
$heading-color-h3-alt-5: $white;

// search block
$input-border-color: $grey-a;
$input-focus-border-color: $burnt-orange;
$icon-color: $grey-a;

// cards

// layout
// layout - background colors
$layout-background-color-1: $light-mushroom;
$item-background-color-1: $light-mushroom;

$layout-background-color-2: $purple-1;
$item-background-color-2: $purple-1;

$item-background-color-3: $white;

$layout-background-color-4: $white;
$item-background-color-4: $white;

$layout-background-color-5: $trans-tangerine;
$item-background-color-5: $trans-tangerine;

$layout-background-color-6: none;
$item-background-color-6: none;

$layout-background-color-7: $tangerine;
$item-background-color-7: $tangerine;

$layout-background-color-8: $blue;
$item-background-color-8: $blue;

$layout-background-color-9: $trans-blue;
$item-background-color-9: $trans-blue;

//layout - border colors
$layout-border-color-1: $light-mushroom;
$item-border-color-1: $light-mushroom;

$layout-border-color-6: $light-mushroom;

//layout - footer colors
$footer-color: $grey-8;

// paragraph
$paragraph-text-color-1: $grey-7;
