{% extends  "node.html.twig" %}
{% set attributes = attributes.addClass('paragraph-styles') %}

{% block title %}{% endblock title %}
{% block submitted %}{% endblock submitted %}

{% block content %}
  <div{{ content_attributes }}>
    {{ content }}
  </div>
{% endblock content %}
