// Fonts

// Heading
$font-heading-1: $font-secondary-68;
$font-heading-2: $font-primary;
$font-heading-3: $font-secondary-30;

$font-heading-alt-2: $font-primary;

$font-heading-alt-3: $font-tertiary;

$font-heading-h1-alt-4: $font-primary;

$font-heading-h1-alt-5: $font-primary;
$font-heading-h2-alt-5: $font-tertiary;

$font-heading-h1-alt-6: $font-primary;
$font-heading-h2-alt-6: $font-tertiary;

// Paragraph
$font-blockquote: $font-secondary-30;

// Paragraph
$font-paragraph: $font-tertiary;

// Link
$font-link: $font-tertiary;

// Label
$font-label: $font-primary;
