// Fonts
$font-body: Georgia, Times, "Times New Roman", serif;
$font-heading: "HelveticaNeue", "Helvetica", "Arial", sans-serif;


.font-body {
  font-family: $font-body;
}

.font-heading {
  font-family: #font-heading;
}
