
// Fonts
$font-primary: '"Sentinel A", "Sentinel B", serif';
$font-secondary-30: '"Knockout 30 A", "Knockout 30 B", sans-serif';
$font-secondary-68: '"Knockout 68 A", "Knockout 68 B", sans-serif';
$font-tertiary: '"Rubik", sans-serif';
