// Fonts

// Heading
$font-heading: $font-primary;

// Paragraph
$font-blockquote: $font-primary;

// Paragraph
$font-paragraph: $font-secondary;

// Link
$font-link: $font-secondary;

// Label
$font-label: $font-secondary;
