
// Fonts
$font-primary: "'Sentinel A', 'Sentinel B'";
$font-primary-2: 'Sentinel A', 'Sentinel B';

$font-secondary-30: "'Knockout 30 A', 'Knockout 30 B'";
$font-secondary-30-2: 'Knockout 30 A', 'Knockout 30 B';
$font-secondary-68: "'Knockout 68 A', 'Knockout 68 B'";

$font-tertiary: "Rubik";
// $font-primary: "Georgia", "Times", "Times New Roman", serif;
