// Label
$font-label: $font-primary;

// Create a mixin for blockquote styles that can be implemented
// in components with other classnames.
@mixin label(
  $margin: 0 0 0 1em,
  $padding: 0 0 0 1em,
  $font-family: $font-label) {
  font-family: $font-family;
  margin: #{$margin};
  padding: #{$padding};
}

.txex-label {
  @include label;
}

.search-label {
  @include label;
  color: $grey-7;
  font-style: italic;
  font-weight: 800;
  font-size: 1.85rem;
  line-height: 1.25;
  margin: 0 0 3px;
  padding: 0 1rem 0 0;
  text-transform: none;
}

.location-searched {
  color: $grey-7;
  font-size: 1.2rem;
  padding: 0 1rem 0 0;
}

.search-toggle {
  @include link;
  padding: 0 1rem 0 0;
  display: inline-block;
  &.active {
    color: $grey-7;

    &::after {
      content: "\25bc";
      color: $grey-7;
      font-size: 0.85rem;
      padding-left: 0.3rem;
    }
  }
}

