// Label
$color-label: $grey-7;
$font-family-label: $font-tertiary;
$font-size-label: 1.6rem;

// Create a mixin for label styles that can be implemented
// in components with other classnames.
@mixin label(
  $color: $color-label,
  $font-family: $font-family-label,
  $font-size: $font-size-label,
  $margin: 0 0 5px,
  $padding: 0 0 2px) {
  color: $color;
  display: block;
  font-family: $font-family;
  font-size: $font-size;
  margin: #{$margin};
  padding: #{$padding};
}

.label {
  @include label;

  .input[type="radio"] + &,
  .input[type="checkbox"] + & {
    display: inline;
    padding: 0 0 0 $space-one-half;
  }
}


// events search 
// homepage

.location-searched {
  @extend .flexbox__h2;
  @extend .flexbox__h2--alt-5;
  // color: $grey-7;
  // font-size: 1.2rem;
  // padding: 0 $space-one-half 0 0;

  // flexbox__h2 flexbox__h2--subtitle flexbox__h2--alt-5 clearfix text-formatted quickedit-field
}

.search-toggle {
  @include link;
  padding: 0 $space-one-half 0 0;
  display: inline-block;
  &.active {
    color: $grey-7;

    &::after {
      content: "\25bc";
      color: $grey-7;
      font-size: 0.85rem;
      padding-left: $space-one-third;
    }
  }
}
