// Label
$font-label: $font-tertiary;

@mixin label ($color: $grey-7) {
  font-family: $font-label;
  font-size: 1.6rem;
  color: $color;
}

.txex-label {
  @include label;

  vertical-align: middle;
  position: relative;

  &--pre {
    padding-right: 0.5rem;
  }

  &--post {
    padding-left: 0.5rem;
  }

  &--above {
    display: block;
    padding-bottom: 0.5rem;
  }
}
