// Start libs
// Better style reset
@import "normalize";
// Grid system, https://github.com/at-import/Singularity
// @import "singularitygs/stylesheets/singularitygs";
// A cleaner way to do breakpoints/media queries, http://breakpoint-sass.com/
@import "breakpoint-sass/stylesheets/breakpoint";
// End libs
@import "00-base/**/*.scss";
@import "01-atoms/**/*.scss";
@import "02-molecules/**/*.scss";
@import "03-organisms/**/*.scss";
// @import "04-templates/**/*.scss";
@import "05-pages/**/*.scss";

.wysiwyg__h1 {
  line-height: .9;
}

.wysiwyg__h2 {
  // font-size: 3.25rem;
  // line-height: 1.15;
}

.wysiwyg__h3 {
  font-size: 2.2rem;
}

.wysiwyg__h4 {
  font-size: 1.7rem;
  line-height: 1.45;
}

.wysiwyg__h5 {
  line-height: 1.5;
}

.wysiwyg__h6 {
  line-height: 1.5;
}

.wysiwyg__p {
  line-height: 1.6;
}

.wysiwyg__td {
  vertical-align: top !important;
  /* border-bottom: 1px solid #ccc; */
  padding: inherit;
}
.wysiwyg__tr {
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
}

table {
  border-collapse: collapse;
}

.sg-pattern-example {
  // border-style: dotted;
  // border-width: 1px;

  // makes the background image extend into the bottom margin of the child element
  // border-style: dotted;
  // border-width: 1px;
  // background: url(../pattern-lab/public/images/txex/grid-light.svg) 0 0 repeat;
  // background-size: 7em;
  // z-index: -10;

  // section {
  //   background: url(../pattern-lab/public/images/txex/grid-light.svg) 0 0 repeat;
  //   background-size: 7em;
  //   z-index: -10;
  // }
}

#spb-block-webform {
  .spb_center {
    transform: translate(-50%, -50%);
    max-width:800px;
    width: auto !important;
    margin: 0 !important;
    position: relative;
    @media only screen
    and (max-width: 991px) {
      max-width:90%;
    }

    .webform-submission-market-research-architypes-form-form {
      .js-form-type-radio {
        display: flex;
        input {
          margin-top: 4px;
          flex-shrink: 0;
        }
      }
      .form-actions {
        text-align: center;
      }
    }
  }
}

#block-webform {
  width: 100% !important;
}

/* Business listing google logo */
.business-listing-poweredby {
  margin: 20px 0px;
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .spb-popup-main-wrapper{
      width: 100% !important;
    }
    #block-webform .txex-mra-icon {
      display: none;
    }
    #block-webform .txex-mra{
      display: flex;
      flex-direction: column;
    }
}

#block-webform .txex-mra{
  display: flex;
  flex-direction: row;
}

.spb-popup-main-wrapper {
  border: none !important;
  padding: 30px;
}

.spb_close{
  border: none !important;
  position: relative;
  top: -30px;
  font-size: 21px;
  color: #555;
}

#block-webform  .fieldset {
  padding-bottom: 0px;
  border: none !important;
}

/* alcalde docs imgs */
img.img.img--fpsc_1_1_150x150 {
  width: 75px;
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #block-webform .txex-mra-icon {
      display: none;
    }
}

#block-webform  .webform-confirmation {
  font-family: 'Rubik';
}

#block-webform .input[type=checkbox]+.label, #block-webform .input[type=radio]+.label {
  padding: 0 0 0 5px;
}

#block-webform  label {
  display: inline;
}

#block-webform .legend{
  font-size: 16px;
  font-family: 'Rubik';
  font-weight: 500 !important;
}

.sg-colors {
  // background-color: white;
}

/* Not sure where these kinds of rules belong, so here they are. */

// Removal of non-namespaced rule
// body {
//   background: $white;
// }

// This non-namespaced rule messes up lots of things, including admin styles
// main {
//   font: 100%/1.5 $font-primary;
// 	color: $grey-5;
//   margin-bottom: 5em;
//   font-weight: 300;
//   line-height: 1.875em;
//   letter-spacing: -0.2px;
// }

.image-caption,
.image-credit {
  font-family: $font-tertiary;
  display: inline-block;
  font-weight: 400;
  color: #999;
  line-height: 19px;
  margin-top: 1em;
}

.image-credit {
  font-size: 12px;
  color: #ccc;
  text-transform: uppercase;
  margin-left: 0.5em;
}

/* alcalde docs imgs */
img.img.img--fpsc_1_1_150x150 {
  width: 75px;
}

// Longhorn Business
  // Hiding until can be prioritized: https://app.asana.com/0/706831088057313/1201032650090228
.txex-lbn-search-landing-search-input-zipcode {
  display: none;
}

#search-form #zipcode {
  display: none;
}

// site maintenance
.maintenance__header,
.main__maintenance__heading,
.maintenance__class-news,
.maintenance__class-offer,
.maintenance_join-flex {
  text-align: center;
}

.main__maintenance__heading h3,
.maintenance__class-news h2,
.maintenance__class-offer h2,
.maintenance__join-flex h3 {
  font-family: 'Rubik';
  font-weight: 500;
}

.main__maintenance__heading {
  margin-bottom: 2%;
}

.maintenance__class-news p {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}

.maintenance__join-flex {
    display: flex;
    justify-content: space-around;
    width: 49%;
    margin-left: auto;
    margin-right: auto;
}

.maintenance__join-flex a {
  color: #cb6015;
}

.maintenance__logo {
  width: 300px;
}


@media (min-width: 768px) and (max-width: 1023px) {
  
  // site maintenance
  .main__maintenance__heading {
    margin-bottom: 4%;
  }

  .maintenance__class-news p {
    width: 47%;
  }

  .maintenance__join-flex {
    width: 88%;
  }
} 

@media (min-width: 320px) and (max-width: 767px) {
  .event-search-head {
      padding: 30px 1px;
  }

  /* headings */
  .absolute__h1--alt-2, 
  .block__h1--alt-2, 
  .flexbox__h1--alt-2 {
    font-size: 5.1rem;
  }

  // site maintenance
  .main__maintenance__heading {
    margin-bottom: 10%;
  }

  .maintenance__class-news p {
    width: 95%;
  }

  .maintenance__join-flex {
    flex-direction: column;
  }
}

//
// .event,
// .generic-page {
//   a {
//     text-decoration: none;
//     color: $burnt-orange;
//   }
// }

/* test comment */
img.img.img--fpsc_1_1_150x150 {
  width: 75px;
}

@media (min-width: 320px) and (max-width: 767px) {
  /* headings */
  .absolute__h1--alt-2, 
  .block__h1--alt-2, 
  .flexbox__h1--alt-2 {
    font-size: 5.1rem;
  }
}