// Start libs
// Better style reset
@import "normalize";
// Grid system, https://github.com/at-import/Singularity
@import "singularitygs/stylesheets/singularitygs";
// A cleaner way to do breakpoints/media queries, http://breakpoint-sass.com/
@import "breakpoint-sass/stylesheets/breakpoint";
// End libs
@import "00-base/**/*.scss";
@import "01-atoms/**/*.scss";
@import "02-molecules/**/*.scss";
@import "03-organisms/**/*.scss";
@import "04-templates/**/*.scss";
@import "05-pages/**/*.scss";

.sg-pattern-example {
  // height: 100%;
  // width: 100%;
  // border-style: solid;
  // border-width: 1px;
  // border-color: blue;

  // background-color: rgba(254, 254, 188, 1);
  // height: 100%;
  // width: 100%;
}

.sg-colors {
  // background-color: white;
}

.sg-pattern {
  section {
    background: url(/pattern-lab/public/images/txex/grid-light.svg) 0 0 repeat;
    background-size: 7em;
    z-index: -10;
  }
}

/* Not sure where these kinds of rules belong, so here they are. */

body {
  background: $white;
}

// This non-namespaced rule messes up lots of things, including admin styles
// main {
//   font: 100%/1.5 $font-primary;
// 	color: $grey-5;
//   margin-bottom: 5em;
//   font-weight: 300;
//   line-height: 1.875em;
//   letter-spacing: -0.2px;
// }

.image-caption,
.image-credit {
  font-family: $font-tertiary;
  display: inline-block;
  font-weight: 400;
  color: #999;
  line-height: 19px;
  margin-top: 1em;
}

.image-credit {
  font-size: 12px;
  color: #ccc;
  text-transform: uppercase;
  margin-left: 0.5em;
}

.event,
.generic-page {
  a {
    text-decoration: none;
    color: $burnt-orange;
  }
}
