.legend {
  color: #555;
  font-family: $font-primary;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -.005em;
  line-height: 1.2;
  padding: 0 5px;
  text-transform: none;
  width: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &-span {
//
  }
}
