legend,
  color: #777;
  font-family: "Sentinel A","Sentinel B",serif;
  font-size: 2.096rem;
.legend {
  font-style: normal;
  font-weight: 400;
  letter-spacing: -.005em;
  line-height: 1.29;
  text-transform: none;
  width: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #555;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 20px;

  padding: 0 5px;
  margin: 0;

  // @extend .wysiwyg__h2;


  &-span {
//
  }
}
