// Create a mixin for ordered list styles that can be implemented
// in components with other classnames.
@mixin ordered-list(
  $color: $paragraph-color-default,
  $font-family: $font-paragraph,
  $font-size: 1.6rem,
  $line-height: 1.7em,
  $margin: '0 0 10px',
  $padding-inline-start: $space-two-thirds) {
  color: #{$color};
  font-family: $font-family;
  font-size: #{$font-size};
  line-height: $line-height;
  margin: #{$margin};
  padding-inline-start: #{$padding-inline-start};
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// When a ordered list is a block, this is it's class (BEM)
.ol {
  @include ordered-list;
}

.wysiwyg {
  &__ol {
    @extend .ol;
    //@Todo break out into 0000-list-item
    li {
      margin-bottom: 5px;
    }
  }
}
