.header-wrapper {
  display: flex;
  background-color: $white;

  @include breakpoint($break-nav-max) {
    background: #fff;
    height: 70px;
    // line-height: 80px
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9998;
    transition: all 0.5s;
    &.scrollUp {
      transform: translateY(-70px); //should match the height, but extra to accomodate admin toolbar (40px) if present?
    }
  }
}

.header-region {
  @include wrapper;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  @include breakpoint($break-nav) {
    flex-wrap: wrap;
  }
}

.header {
  &__top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 75%;
    margin: 0 40px;
  }

  &__branding {
    flex: 1 1 50%;

    img {
      max-width: 288px;
    }
  }

  &__secondary {
    flex: 1 1 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    text-align: right;
    padding: 1em 0;
  }
}
