$header-wrapper-height: 50px;
$toobar-height: 39px;

.header-wrapper {
  display: flex;
  background-color: $white;

  @include breakpoint($break-nav-max) {
    height: $header-wrapper-height;
    // line-height: 80px
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    transition: all 0.5s;
    &.scrollUp {
      top: 0;
      transform: translateY(-$header-wrapper-height); //should match the height, but extra to accomodate admin toolbar (40px) if present?

      @at-root .toolbar-vertical #{&} {
        transform: translateY(-$header-wrapper-height + -$toobar-height);
      }
    }
  }
}

.header-regions {
  // @include wrapper;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  @include breakpoint($break-nav) {
    flex-wrap: wrap;
  }

  @include breakpoint($break-nav-max) {
    @include wrapper;

    .site-logo {
      a {
        display: block;
        line-height: 0;
      }
      img {
        height: $space;
      }
    }
  }

  &__section {

    &--1 {

      display: flex;
      // flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;


      @include breakpoint($break-nav) {
        // @include breakout;

        // flex-basis: 100vw;
        flex: 1 1 100%;
        order: 1;
      }
    }

    &--2 {
      @include wrapper;

      display: flex;
      // flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      flex: 1 1 100%;

      @include breakpoint($break-nav) {
        // flex-basis: 75%;
        padding: 0 40px;
      }
    }

  }
}
