//
// Generic header styles:
// All arguments are optional. If not defined, the defaults below will be used
//
@mixin heading(
  $color: inherit,
  // $color-link: inherit,
  // $color-link-hover: inherit,
  $font-family: $font-heading-1,
  $font-size: 3.82em,
  $font-style: normal,
  $font-weight: 400,
  $letter-spacing: -0.005em,
  $line-height: 0.835em,
  $text-transform: none) {
  color: #{$color};
  font-family: #{$font-family};
  font-size: #{$font-size};
  font-style: #{$font-style};
  font-weight: #{$font-weight};
  letter-spacing: #{$letter-spacing};
  line-height: #{$line-height};
  text-transform: #{$text-transform};
  width: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // &__link {
  //   color: $color-link;
  //
  //   &:hover {
  //     color: $color-link-hover;
  //   }
  // }
}

.h1 {
  @include heading($text-transform: uppercase);
}

.h2 {
  @include heading($font-size: 1.31em, $line-height: 1.29, $font-family: $font-heading-2 );
}

.h3 {
  @include heading($font-size: 0.938em, $line-height: 1.6, $font-family: $font-heading-3 , $text-transform: uppercase );
}

.h4 {
  @include heading($font-size: 1.2em, $line-height: 1.6, $font-weight: 600);
}

.h5,
.h6 {
  @include heading($font-size: 1.1em, $line-height: 2, $font-weight: 600);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.hero__title {
  &--alt-1 {
    // border-style: solid;
    // border-width: 2px;
    // border-color: black;
    // box-shadow: 5px 5px 3px #2d2d2d;
    // padding: 0 0.5em;
  }
}

.absolute,
.flexbox,
.block {
  &__h1 {
    @extend .h1;

    margin: 0 0 10px;

    &--alt-1 {
      color: $white;
    }

    &--alt-2 {
      color: $white;
      font-family: $font-heading-alt-2;
      font-weight: 800;
      font-size: 4.25em;
      text-transform: none;
    }

    &--alt-3 {
      color: $heading-color-h1-alt-3;
      font-size: 2.25em;
    }

    &--alt-4 {
      color: $white;
      font-family: $font-heading-h1-alt-4;
      font-weight: 800;
      font-size: 0.91em;
      line-height: 1.17;
      margin: 1em 0 0.25em;
      text-transform: none;
    }

    &--alt-5 {
      color: $heading-color-h1-alt-5;
      font-family: $font-heading-h1-alt-5;
      font-weight: 800;
      font-size: 1.06em;
      line-height: 1.25;
      margin: 0 0 3px;
      text-transform: none;
    }

    &--alt-6 {
      color: $white;
      font-family: $font-heading-h1-alt-5;
      font-weight: 800;
      font-size: 1.5em;
      line-height: 1.25;
      font-style: italic;
      text-transform: none;
    }

    &--alt-7 {
      color: $heading-color-h1-alt-5;
      font-family: $font-heading-h1-alt-5;
      font-weight: 800;
      font-size: 1.5em;
      line-height: 1.25;
      text-transform: none;
    }

    &--alt-8 {
      color: $heading-color-h1-alt-5;
      font-family: $font-heading-h1-alt-5;
      font-weight: 800;
      font-size: 1.06em;
      line-height: 1.25;
      margin: 0 0 3px;
      text-transform: none;
      text-align: center;
    }
  }

  &__h2 {
    @extend .h2;

    margin: 0 0 10px;

    &--alt-1 {
      color: $white;
    }

    &--alt-2 {
      color: $white;
    }

    &--alt-3 {
      color: $heading-color-h2-alt-3;
      font-family: $font-heading-alt-3;
      font-size: 1em;
    }

    &--alt-5 {
      color: $heading-color-h2-alt-5;
      font-family: $font-heading-h2-alt-5;
      font-size: 0.91em;
      margin: 0;
    }

    &--alt-6 {
      color: $white;
      font-family: $font-heading-alt-3;
      font-size: 1em;
    }

    &--alt-7 {
      color: $heading-color-h2-alt-5;
      font-family: $font-tertiary;
      font-size: 1em;
    }

    &--alt-8 {
      color: $heading-color-h2-alt-5;
      font-family: $font-heading-h2-alt-5;
      font-size: 0.91em;
      margin: 0;
      text-align: center;
    }

    &--list-group-ref {
      display: inline-block;
      margin: 0;

      &::after {
        content: ", \a0";
        display: inline-block;
      }
    }
  }

  &__h3 {
    @extend .h3;

    display: inline-block;
    position: relative;
    padding: 0 0.35em;
    background-color: $burnt-orange;
    color: $heading-color-h3-alt-5;
    margin: 0 0 20px;

    &--alt-1 {
      // display: inline-block;
      // position: relative;
      // top: 0;
      // margin: 0 0 20px;
    }

    &--alt-2 {
      // display: inline-block;
      // position: relative;
      // top: 0;
      // margin: 0 0 20px;
    }

    &--alt-3 {
      // position: absolute;
      // top: -1.6em;
      // margin: 0;
    }

    &--alt-5 {
      position: absolute;
      top: -1.6em;
      font-size: 0.91em;
      margin: 0;
    }

    &--alt-7 {
      // font-family: $font-heading-h2-alt-5;
      color: $heading-color-h2-alt-5;
      background-color: transparent;
      font-size: 0.91em;
      margin: 0 0 10px;
      padding: 0;
      // position: relative;
      // top: 0;
    }

    &--alt-8 {
      position: absolute;
      top: -1.6em;
      font-size: 0.91em;
      margin: 0;
      text-align: center;
    }
  }

  &__h4 {
    &--slug {
      @extend .h4;

      display: inline-block;
      padding: 0.25em 0.75em;
      background-color: $heading-background;
      color: $heading-color;
    }
  }
}

// TODO: BEM selectors should be applied to wysiwyg-created content

.text-long {
  h1 {
    @extend .h1;
  }

  h2 {
    @extend .h2;
  }

  h3 {
    @extend .h3;
  }

  h4 {
    @extend .h4;
  }

  h5 {
    @extend .h5;
  }

  h6 {
    @extend .h6;
  }
}
