//
// Generic header styles:
// All arguments are optional. If not defined, the defaults below will be used
//
@mixin heading(
  $color: inherit,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-family: $font-heading,
  $font-size: 2em,
  $font-weight: 700,
  $line-height: 1.4,
  $margin: 0 0 0.5em) {
  color: #{$color};
  font-family: #{$font-family};
  font-size: #{$font-size};
  font-style: normal;
  font-weight: #{$font-weight};
  line-height: #{$line-height};
  margin: #{$margin};
  width: auto;

  // &__link {
  //   color: $color-link;
  //
  //   &:hover {
  //     color: $color-link-hover;
  //   }
  // }
}

.h1 {
  @include heading;
}

.h2 {
  @include heading($font-size: 1.8em);
}

.h3 {
  @include heading($font-size: 1.4em, $line-height: 1.6);
}

.h4 {
  @include heading($font-size: 1.2em, $line-height: 1.6, $font-weight: 600);
}

.h5,
.h6 {
  @include heading($font-size: 1.1em, $line-height: 2, $font-weight: 600);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.hero__title {
  &--alt-1 {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 5px 5px 3px #2d2d2d;
    padding: 0 0.5em;
  }
}

.simple__h2 {
  @extend .h2;

  color: white;
}

.simple__h3 {
  @extend .h3;

  color: white;
}

.absolute__h2--title,
.flexbox__h2--title {
  @extend .h2;
}

.absolute__h3--subtitle,
.flexbox__h3--subtitle {
  @extend .h3;
}

.absolute__h4--slug,
.flexbox__h4--slug {
  @extend .h4;

  display: inline-block;
  padding: 0.25em 0.75em;
  background-color: $orange-dk;
  color: $near-white;
}

// TODO: BEM selectors should be applied to wysiwyg-created content

.text-long {
  h1 {
    @extend .h1;
  }

  h2 {
    @extend .h2;
  }

  h3 {
    @extend .h3;
  }

  h4 {
    @extend .h4;
  }

  h5 {
    @extend .h5;
  }

  h6 {
    @extend .h6;
  }
}
