//
// Generic header styles:
// All arguments are optional. If not defined, the defaults below will be used
//
@mixin heading(
  $color: inherit,
  // $color-link: inherit,
  // $color-link-hover: inherit,
  $font-family: $font-heading-1,
  $font-size: 3.82em,
  $font-style: normal,
  $font-weight: 400,
  $letter-spacing: -.005em,
  $line-height: .835em,
  $text-transform: none) {
  color: #{$color};
  font-family: #{$font-family};
  font-size: #{$font-size};
  font-style: #{$font-style};
  font-weight: #{$font-weight};
  letter-spacing: #{$letter-spacing};
  line-height: #{$line-height};
  text-transform: #{$text-transform};
  width: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // &__link {
  //   color: $color-link;
  //
  //   &:hover {
  //     color: $color-link-hover;
  //   }
  // }
}

.h1 {
  @include heading($color: $white, $text-transform: uppercase);
  margin: 0 0 10px;
}

.h2 {
  @include heading($color: $white, $font-size: 1.31em, $line-height: 1.29em, $font-family: $font-heading-2 );
}

.h3 {
  @include heading($font-size: 1.4em, $line-height: 1.6);
}

.h4 {
  @include heading($font-size: 1.2em, $line-height: 1.6, $font-weight: 600);
}

.h5,
.h6 {
  @include heading($font-size: 1.1em, $line-height: 2, $font-weight: 600);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.hero__title {
  &--alt-1 {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 5px 5px 3px #2d2d2d;
    padding: 0 0.5em;
  }
}

.absolute,
.flexbox {
  &__h1{
    &--title {
      @extend .h1;
    }
  }

  &__h2{
    &--title {
      @extend .h2;
    }

    &--subtitle {
      @extend .h2;
    }
  }

  &__h3{
    &--subtitle {
      @extend .h3;
    }
  }

  &__h4{
    &--slug {
      @extend .h4;

      display: inline-block;
      padding: 0.25em 0.75em;
      background-color: $heading-background;
      color: $heading-color;
    }
  }

}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  &--level-1 {
  }
}

// TODO: BEM selectors should be applied to wysiwyg-created content

.text-long {
  h1 {
    @extend .h1;
  }

  h2 {
    @extend .h2;
  }

  h3 {
    @extend .h3;
  }

  h4 {
    @extend .h4;
  }

  h5 {
    @extend .h5;
  }

  h6 {
    @extend .h6;
  }
}
