$font-heading-1: $font-secondary-68;
$font-heading-2: $font-primary;
$font-heading-3: $font-secondary-30;

$font-heading-alt-2: $font-primary;
$font-heading-alt-3: $font-tertiary;

$font-heading-h1-alt-4: $font-primary;
$font-heading-h1-alt-5: $font-primary;
$font-heading-h1-alt-6: $font-primary;

$font-heading-h2-alt-5: $font-tertiary;
$font-heading-h2-alt-6: $font-tertiary;

$font-heading-h3-alt-11: $font-secondary-30;

//
// Generic header styles:
// All arguments are optional. If not defined, the defaults below will be used
//
@mixin heading(
  $color: inherit,
  $font-family: $font-heading-1,
  $font-size: 6.1rem,
  $font-style: normal,
  $font-weight: 400,
  $letter-spacing: -0.005em,
  $line-height: 0.835,
  $text-transform: none) {
  color: #{$color};
  font-family: $font-family;
  font-size: #{$font-size};
  font-style: #{$font-style};
  font-weight: #{$font-weight};
  letter-spacing: #{$letter-spacing};
  line-height: #{$line-height};
  text-transform: #{$text-transform};
  width: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // &__link {
  //   color: $color-link;
  //
  //   &:hover {
  //     color: $color-link-hover;
  //   }
  // }
}

.h1 {
  @include heading($color: $heading-color-h1-default, $text-transform: uppercase);
}

.h2 {
  @include heading($color: $heading-color-h2-default, $font-size: 2.096rem, $line-height: 1.29, $font-family: $font-heading-2 );
}

.h3 {
  @include heading($color: $heading-color-h3-default, $font-size: 1.5rem, $line-height: 1.6, $font-family: $font-heading-3 , $text-transform: uppercase );
}

.h4 {
  @include heading($color: $heading-color-h4-default, $font-size: 1.92rem, $line-height: 1.6, $font-weight: 600);
}

.h5,
.h6 {
  @include heading($font-size: 1.76rem, $line-height: 2, $font-weight: 600);
}

// h1 {
//   @extend .h1;
//
//   font-family: $font-heading-alt-2;
//   font-size: 6.8rem;
//   font-weight: 800;
//   margin: 0 0 10px;
//   text-transform: none;
// }
//
// h2 {
//   @extend .h2;
//
//   color: $heading-color-h1-default;
//   font-weight: 800;
//   font-size: 3rem;
//   margin: 0 0 20px;
// }
//
// h3 {
//   @extend .h1;
//
//   font-family: $font-heading-h1-alt-5;
//   font-size: 2.4rem;
//   font-weight: 800;
//   line-height: 1.25;
//   margin: 0 0 10px;
//   text-transform: none;
// }
//
// h4 {
//   @extend .h2;
//
//   margin: 0 0 10px;
// }
//
// h5 {
//   @extend .h2;
//
//   font-family: $font-tertiary;
//   font-size: 1.6rem;
//   margin: 0 0 10px;
// }
//
// h6 {
//   @extend .h2;
//
//   font-family: $font-tertiary;
//   font-size: 1.5rem;
//   margin: 0 0 10px;
// }

.wysiwyg {
  &__h1 {
    @extend .h1;

    font-family: $font-heading-alt-2;
    font-size: 6.8rem;
    font-weight: 800;
    margin: 0 0 $space-two-thirds;
    letter-spacing: -0.025em;
    text-transform: none;

    &.heading-no-margin {
      margin: 0;
    }
  }

  &__h2 {
    @extend .h2;

    color: $heading-color-h1-default;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 $space-two-thirds;

    &--page-title {
      padding-bottom: $space-one-half;
      border-bottom: 1px solid;
      border-color: $grey-e;
      font-size: 4.2rem;
      letter-spacing: -0.02em;
      line-height: 1;
      margin-bottom: $space-and-half;

      @include breakpoint($break-nav) {
        margin-left: $space-and-half;
        margin-right: 50px;
      }
    }

    &--chapter-title {
      @include breakpoint($break-nav) {
        margin-left: $space;
      }
    }

    &.heading-no-margin {
      margin: 0;
    }
  }

  &__h3 {
    @extend .h3;

    color: $heading-color-h1-default;
    letter-spacing: 0.02em;
    line-height: 1.8;
    font-family: $font-heading-2;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 0 $space-two-thirds;
    // text-transform: none;

    &.heading-no-margin {
      margin: 0;
    }
  }

  &__h4 {
    @extend .h4;

    color: $heading-color-h1-default;
    font-family: $font-heading-alt-3;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.8;
    margin: 0 0 $space-two-thirds;
    padding: 0;
  }

  &__h5 {
    @extend .h2;

    font-family: $font-tertiary;
    font-size: 1.6rem;
    margin: 0 0 10px;
  }

  &__h6 {
    @extend .h2;

    font-family: $font-tertiary;
    font-size: 1.5rem;
    margin: 0 0 10px;
  }
}

.absolute,
.flexbox,
.block {
  &__h1 {
    @extend .h1;

    margin: 0 0 10px;

    &--alt-1 {
      color: $white;
    }

    &--alt-2 {
      color: $white;
      font-family: $font-heading-alt-2;
      font-weight: 800;
      font-size: 6.8rem;
      text-transform: none;
    }

    &--alt-3 {
      // color: $heading-color-h1-alt-3;
      font-size: 3.6rem;
    }

    &--alt-4 {
      color: $white;
      font-family: $font-heading-h1-alt-4;
      font-weight: 800;
      font-size: 1.456rem;
      line-height: 1.17;
      margin: 1em 0 0.25em;
      text-transform: none;
    }

    &--alt-5 {
      // color: $heading-color-h1-alt-5;
      font-family: $font-heading-h1-alt-5;
      font-weight: 800;
      font-size: 1.696rem;
      line-height: 1.25;
      margin: 0 0 3px;
      text-transform: none;
    }

    &--alt-6 {
      color: $white;
      font-family: $font-heading-h1-alt-5;
      font-weight: 800;
      font-size: 2.4rem;
      line-height: 1.25;
      font-style: italic;
      text-transform: none;
    }

    &--alt-7 {
      // color: $heading-color-h1-alt-5;
      font-family: $font-heading-h1-alt-5;
      font-weight: 800;
      font-size: 2.4rem;
      line-height: 1.25;
      text-transform: none;
    }

    &--alt-8 {
      // color: $heading-color-h1-alt-5;
      font-family: $font-heading-h1-alt-5;
      font-weight: 800;
      font-size: 1.9rem;
      line-height: 1.25;
      margin: 0 0 3px;
      text-transform: none;
      text-align: center;
    }

    // for texty header
    &--alt-9 {
      color: $white;
      font-family: $font-heading-alt-2;
      font-weight: 800;
      font-size: 6.8rem;
      text-transform: none;
      text-align: center;
    }

    // similar to alt-2 but with default text color
    // for why join
    &--alt-10 {
      font-family: $font-heading-alt-2;
      font-weight: 800;
      font-size: 5.2rem;
      text-transform: none;
    }

    // for testimonial
    &--alt-11 {
      color: $white;
      font-family: $font-heading-alt-2;
      font-weight: 800;
      font-size: 5.2rem;
      text-transform: none;
    }

    &--alt-12 {
      // color: $heading-color-h1-alt-5;
      font-family: $font-heading-h1-alt-5;
      font-weight: 800;
      font-size: 1.9rem;
      line-height: 1.25;
      margin: 0 0 3px;
      text-transform: none;
      text-align: center;
    }

    // &--alt-dw {
    //   font-size: 4.3008rem;
    //   color: $grey-5;
    //   font-weight: 700;
    //   letter-spacing: -0.028em;
    // }
  }

  &__h2 {
    @extend .h2;

    margin: 0 0 10px;

    &--alt-1 {
      color: $white;
    }

    &--alt-2 {
      color: $white;
    }

    &--alt-3 {
      // color: $heading-color-h2-alt-3;
      font-family: $font-heading-alt-3;
      font-size: 1.6rem;
    }

    &--alt-5 {
      // color: $heading-color-h2-alt-5;
      font-family: $font-heading-h2-alt-5;
      font-size: 1.456rem;
      margin: 0;
    }

    &--alt-6 {
      color: $white;
      font-family: $font-heading-alt-3;
      font-size: 1.6rem;
    }

    &--alt-7 {
      // color: $heading-color-h2-alt-5;
      font-family: $font-tertiary;
      font-size: 1.6rem;
    }

    &--alt-8 {
      // color: $heading-color-h2-alt-5;
      font-family: $font-heading-h2-alt-5;
      font-size: 1.456rem;
      margin: 0;
      text-align: center;
    }

    &--alt-9 {
      color: $white;
      text-align: center;
    }

    &--alt-11 {
      color: $white;
    }

    &--alt-12 {
      // color: $heading-color-h2-alt-5;
      font-family: $font-heading-h2-alt-5;
      font-size: 1.5rem;
      margin: 0;
      text-align: center;
    }

    &--list-group-ref {
      display: inline-block;
      margin: 0;

      &::after {
        content: ", \a0";
        display: inline-block;
      }
    }

    &--alt-dw {
      font-size: 3rem;
      color: $grey-5;
      font-weight: 700;
      line-height: 2.25;
      letter-spacing: -0.037em;
      font-family: $font-heading-2;
    }
  }

  &__h3 {
    @extend .h3;

    display: inline-block;
    position: relative;
    padding: 0 0.35em;
    background-color: $burnt-orange;
    // color: $heading-color-h3-alt-5;
    color: $heading-color-h3-default;
    margin: 0 0 20px;

    &--alt-1 {
      // display: inline-block;
      // position: relative;
      // top: 0;
      // margin: 0 0 20px;
    }

    &--alt-2 {
      // display: inline-block;
      // position: relative;
      // top: 0;
      // margin: 0 0 20px;
    }

    &--alt-3 {
      // position: absolute;
      // top: -1.6em;
      // margin: 0;
    }

    &--alt-5 {
      position: absolute;
      top: -1.6em;
      font-size: 1.456rem;
      margin: 0;
    }

    &--alt-7 {
      // font-family: $font-heading-h2-alt-5;
      color: $heading-color-h3-alt-7;
      background-color: transparent;
      font-size: 1.456rem;
      margin: 0 0 10px;
      padding: 0;
      // position: relative;
      // top: 0;
    }

    &--alt-8 {
      position: absolute;
      top: -1.6em;
      font-size: 1.456rem;
      margin: 0;
      text-align: center;
    }

    &--alt-9 {
      text-align: center;
    }

    &--alt-11 {
      background-color: transparent;
      font-size: 1.8rem;
      font-family: $font-heading-h3-alt-11;
    }

    &--alt-12 {
      display: table;
      text-align: center;
      font-size: 1.5rem;
      margin: auto;
      margin-bottom: 30px;
    }

    &--alt-dw {
      font-size: 1.8rem;
      line-height: 2;
      letter-spacing: 0.043em;
      font-family: $font-heading-3;
      text-transform: uppercase;
    }
  }

  &__h4 {
    &--slug {
      @extend .h4;

      display: inline-block;
      padding: 0.25em 0.75em;
      background-color: $heading-background;
      color: $heading-color;
    }

    &--alt-dw {
      font-family: $font-tertiary;
      font-size: 1.7008em;
      line-height: 1.875;
      font-weight: 500;
    }
  }
}
