{% extends  "node.html.twig" %}
  {% block title %}{% endblock title %}

  {% block submitted %}{% endblock submitted %}

  {% block content %}
    <div{{ content_attributes }}>
      {{ content }}
    </div>
  {% endblock content %}
