{% extends  "node.html.twig" %}
  {% set attributes = attributes.addClass('event-list') %}
  {% block title %}{% endblock title %}

  {% block submitted %}{% endblock submitted %}

  {% block content %}
    <div{{ content_attributes }}>
      <a class="no-wrap-list-item-link" href="{{ url }}"></a>
      {{ content }}
    </div>
  {% endblock content %}
