/// Link
@mixin link(
  $color: $color-link,
  $color--hover: $color-link--hover,
  $font-family: $font-link) {
  color: $color;
  cursor: pointer;
  font-family: $font-link;

  &:hover {
    color: $color--hover;
  }
}

// When a link is a block, this is it's class (BEM)
.link {
  @include link;
}

.card__link {
  @extend .link;
}

.simple__link {
  @extend .link;

  text-decoration: none;
}

.absolute__link {
  @extend .link;

  font-size: 15px;
  line-height: 21px;

  text-decoration: none;

  &:after {
    content: "\25b6";
    padding-left: 1em;
    font-size: .5em;
    vertical-align: middle;
  }
}

.flexbox__link {
  @extend .link;

  text-decoration: none;
}
