$color-link: $burnt-orange;
$color-link--hover: $grey-a;

/// Link
@mixin link(
  $color: $color-link,
  $color--hover: $color-link--hover,
  $font-family: $font-tertiary,
  $font-size: 1.5rem,
  $line-height: 1.4
) {
  color: $color;
  cursor: pointer;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover {
    color: $color--hover;
  }
}

@mixin simple-link {
  @include link;

  text-decoration: none;
}

// When a link is a block, this is it's class (BEM)
.link {
  @include link;
}

.card__link {
  @include link;
}

.wysiwyg__link {
  @include link;
}

.absolute__link,
.flexbox__link,
.block__link {
  @include link;

  &::after {
    content: "\25b6";
    padding-left: 1em;
    font-size: 0.5em;
    vertical-align: middle;
  }

  &--alt-5 {
    display: inline-block;
    margin-top: 10px;
  }

  &--alt-6 {
    display: block;
    color: $tangerine;
  }

  &--alt-8 {
    display: block;
    text-align: center;
  }
}

.event-list-item-link {
  display: block;
  text-decoration: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}
