.progress-meter {
  background-color: $grey-e;
  border-radius: 12px;
  line-height: 1.3;
  overflow: hidden;
  width: 100%;
}


.progress-meter__fill {
  background: $burnt-orange;
  border-radius: inherit;
  color: $white;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  width: 0;
}