{% extends  "node.html.twig" %}
{% set attributes = attributes.addClass('article-general') %}
  {% block title %}{% endblock title %}

  {% block content %}

    {{ content.field_txex_ref_media_01 }}

    <div{{ content_attributes }}>
      {{ content|without('field_txex_ref_media_01') }}
    </div>

  {% endblock content %}
