$row-border-width: 15px; // 1.2vw 15px
$row-padding: 50px; // 4vw 50px
$row-margin: 90px; // 7vw 90px

$component-border-width: 8px;
$component-padding: 30px; // 2.5vw 30px
$component-margin: 30px; // 2.5vw 30px

$list-item-border-width: 1px;
$list-item-padding: 10px; // .8vw 10px
$list-item-margin: 10px; // .8vw 10px
