* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Set 1rem to equal 10px */
}

body {
  position: relative;
  font-size: 1.6rem;
  background-color: $mushroom-lightest;
}

.main {
  @include wrapper;

  padding: $space 0;
  display: block; // Fix for IE weirdness
  background-color: $white;
}

.noscroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.embedded-entity__image {
  margin-bottom: 4%;

  &.align-right {
    clear: right;
    margin-bottom: 3%;
    margin-left: 5%;
    width: 33%;

    @include breakpoint($medium) {
      width: 25%;

      &.wp-import {
        width: 40%;
      }
    }
  }

  &.align-left {
    clear: left;
    margin-bottom: 3%;
    margin-right: 5%;
    width: 33%;

    @include breakpoint($medium) {
      width: 25%;

      &.wp-import {
        width: 40%;
      }
    }
  }
}
