* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Set 1rem to equal 10px */
}

body {
  position: relative;
  font-size: 1.6rem;
  background-color: $mushroom-lightest;
}

.main {
  @include wrapper;

  display: block; // Fix for IE weirdness
  background-color: $white;
}

.noscroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.embedded-entity {
  &.align-right {
    clear: right;
    margin-bottom: 3%;
    margin-left: 3%;
    width: 25%;
  }

  &.align-left {
    clear: left;
    margin-bottom: 3%;
    margin-right: 3%;
    width: 25%;
  }
}
