* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Set 1rem to equal 10px */
}

body {
  position: relative;
  font-size: 1.6rem;
  background-color: $mushroom-lightest;

  &.noscroll {
    // cannot hide overflow, because triggers reflow on browsers that are not
    // autohiding the scrollbar
    // overflow: hidden;
    position: fixed;
    width: 100%;
  }
}

.main {
  @include wrapper;

  padding: $space 0;
  display: block; // Fix for IE weirdness
  background-color: $white;
}

.embedded-entity__image {
  margin-bottom: 4%;

  &.align-right {
    clear: right;
    margin-bottom: 3%;
    margin-left: 5%;
    width: 33%;

    @include breakpoint($medium) {
      width: 25%;

      &.wp-import {
        width: 40%;
      }
    }
  }

  &.align-left {
    clear: left;
    margin-bottom: 3%;
    margin-right: 5%;
    width: 33%;

    @include breakpoint($medium) {
      width: 25%;

      &.wp-import {
        width: 40%;
      }
    }
  }
}

.dialog-off-canvas-main-canvas {
  //keeps layout-container filling the screen as screen size is reduced
  overflow: auto;
}
