.content-top-region .h1--title {
  border-bottom: 1px solid #ededed;
  line-height: 1;
  padding-bottom: 15px;

  @include breakpoint($break-nav) {
    margin: 0 50px 60px;
  }
}

.page-title-block {
  border-bottom: 1px solid $grey-e;
  margin: $space-one-half 0;
  padding-bottom: $space-one-half;

  @include breakpoint($break-nav) {
    margin: $space-one-half $space-and-half;
  }
}
