{% extends "paragraph.html.twig" %}

{% set accordion_base_class = accordion_base_class|default('accordion') %}

{% block paragraph %}
{{ attach_library('d8_theme_main/accordion') }}
  <div {{ bem(accordion_base_class, (accordion_modifiers), accordion_blockname) }}>
    {{ content }}
  </div>
{% endblock paragraph %}
