$chapter-border: $mushroom-light;

.chapter-next-event {
  border: 8px solid $chapter-border;
  font-family: $font-tertiary;
  line-height: 1.5em;
  padding: $space-two-thirds;
  margin-bottom: $space;

  header {
    h2 {
      height: 30px;
      margin: 25px 0 0 30px;
      line-height: 1;
      font-size: 0.8em;
      font-family: $font-tertiary;
      text-transform: uppercase;
      overflow: hidden;
      color: $grey-8;
    }
  }

  .views-field-title {
    h2 {
      font-family: $font-primary;
      margin: 0 0 0.2em;

      a {
        text-decoration: none;
        color: $grey-4;
      }
    }
  }

  // > .views-row {
  //   // background-image: url(../images/icon-brain.jpg);
  //   // background-repeat: no-repeat;
  //   // background-position: top left;
  //   // background-size: 47px;
  //   // padding-left: 80px;
  //   margin-left: 30px;
  //   margin-right: 30px;
  // }

  .chapter-next-event-title {
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: $font-tertiary;
    font-weight: 400;
    margin: 0;
    width: 50%;
    background: pink;
    line-height: 1;
  }

  .views-field-field-txex-ref-media-01 {
    float: right;
    width: 33.3%;
    height: auto;
    margin-left: 25px;
    top: -55px;
    right: -30px;
    position: relative;

    .image-caption,
    .image-credit {
      display: none;
    }
  }

  .upcoming-nearby {
    a {
      color: $burnt-orange;
      text-decoration: none;
    }

    // header {
    //   h2 {
    //     margin-left: 0;
    //   }
    // }

    .views-field-title {
      margin-right: 0.5em;
    }

    .views-field {
      display: inline-block;
    }
  }
}

.chapter-add-content {
  border: 8px solid $burnt-orange;
  padding: 10px;
  margin-bottom: $space-two-thirds;

  h2 {
    color: #555;
    line-height: 1.8;
    font-family: "Sentinel A", "Sentinel B", serif;
    font-size: 1.8rem;
    font-weight: 800;
    margin: 0 0 20px;
    text-transform: none;
  }

  a {
    color: #cb6015;
    cursor: pointer;
    font-family: Rubik, sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline;
  }
}
