$font-blockquote: $font-secondary-30;

// Create a mixin for blockquote styles that can be implemented
// in components with other classnames.
@mixin blockquote(
  $margin: 0 0 0 1em,
  $padding: 0 0 0 1em,
  $font-size: 1.6rem,
  $font-family: $font-blockquote,
  $border-color: $color-blockquote--border) {
  border-left: solid 5px #{$border-color};
  font-size: #{$font-size};
  font-family: $font-family;
  font-style: italic;
  margin: #{$margin};
  padding: #{$padding};
}

blockquote,
.blockquote {
  @include blockquote;
}

.text-long {
  blockquote {
    float: right;
    display: inline-block;
    font-weight: 900;
    color: #8e8aa1;
    width: 30%;
    margin: 0 0 0 2em;
    font-size: 1em;
    line-height: 1.2em;

    p {
      font-family: inherit !important;
      font-size: inherit !important;
      font-weight: inherit !important;
      color: inherit !important;
      line-height: inherit !important;
      letter-spacing: inherit !important;
      margin: 0;
    }
  }
}
