.page--user--login {
  .layout-content {
    max-width: $small;
    margin: 0 auto;
  }
}

.user-login-form {
  .description {
    @include visually-hidden;
  }

  .form-submit {
    width: 100%;
    font-size: 2rem;
  }
}
