{% extends "media--image.html.twig" %}
{% set attributes = attributes.addClass('event-list', 'max-width-image') %}
{% set wrap_url = content.field_txex_link_01[0]['#url'] %}

{% block content_block %}
  {% if content %}
    <a href="{{ wrap_url }}" >{{ content|without('field_txex_link_01') }}</a>
  {% endif %}
{% endblock %}
