<div class="flexbox flexbox--horizontal">
    {% include "@organisms/03-flex-layout-3/flex-layout-3.twig" with {
      "flexbox_modifiers": {1 : 'horizontal'},
      "flex_layout_3_items": flex_layout_3_items_1,
      "flex_layout_3_flexbox_extra": example_flexbox_extra,
      "flex_layout_3_nested_flexbox_extra":example_nested_flexbox_extra,
      "flex_layout_3_nested_nested_flexbox_extra":example_nested_nested_flexbox_extra,
    }%}

    {% include "@organisms/03-flex-layout-3/flex-layout-3.twig" with {
      "flexbox_modifiers": {1 : 'vertical'},
      "flex_layout_3_items": flex_layout_3_items_2,
      "flex_layout_3_flexbox_extra": example_flexbox_extra_2,
      "flex_layout_3_nested_flexbox_extra":example_nested_flexbox_extra_2,
      "flex_layout_3_nested_nested_flexbox_extra":example_nested_nested_flexbox_extra_2,
    }%}
</div>
