{% extends  "node.html.twig" %}
{# TODO: If "full" displays were used, setting $page here would not be necessary. #}
{#% set page = TRUE %#}
{% set content_attributes = attributes.addClass('generic-page') %}

  {% block content %}
    <div{{ content_attributes }}>
      {{ content }}
    </div>
  {% endblock content %}
