{% extends  "node.html.twig" %}
{% set content_attributes = attributes.addClass('generic-page') %}

  {% block title %}{% endblock %}

  {% block content %}
    <div{{ content_attributes }}>
      {{ content }}
    </div>
  {% endblock content %}
