{#
/**
 * @file
 * Default template for the 'plain' address formatter.
 *
 * Available variables:
 *   - given_name: Given name.
 *   - additional_name: Additional name.
 *   - family_name: Family name.
 *   - organization: Organization.
 *   - address_line1: First address line.
 *   - address_line2: Second address line.
 *   - postal_code: Postal code.
 *   - sorting_code: Sorting code.
 *   - dependent_locality: The dependent locality.
 *     - dependent_locality.code: Dependent locality code.
 *     - dependent_locality.name: Dependent locality name.
 *   - locality: The locality subdivision.
 *     - locality.code: Locality code.
 *     - locality.name: Locality name.
 *   - administrative_area: The administrative area subdivision.
 *     - administrative_area.code: Administrative area code.
 *     - administrative_area.name: Administrative area name.
 *   - country: The country.
 *     - country.code: Country code.
 *     - country.name: Country name.
 *
 * if a subdivision (dependent_locality, locality, administrative_area) was
 * entered, the array will always have a code. If it's a predefined subdivision,
 * it will also have a name. The code is always prefered.
 *
 * @ingroup themeable
 */
#}
{% set search_link = given_name ~
              family_name ~ ' ' ~
              organization ~ ', ' ~
              address_line1 ~ ' ' ~
              address_line2 ~ ', ' ~
              dependent_locality.code ~ ' ' ~
              administrative_area.name ~ ', ' ~
              locality ~ ' ' ~
              postal_code ~ ' ' ~
              country.name
%}
{% set search_link_url = 'https://www.google.com/maps/search/?api=1&query=' ~ search_link|url_encode %}
{% set concatenated_address = NULL %}

{% if given_name or family_name %}
  {% set concatenated_address = concatenated_address ~ given_name ~ family_name ~ ', '%}
{% endif %}
{% if organization %}
  {% set concatenated_address = concatenated_address ~ organization ~ ', '%}
{% endif %}
{% if address_line1 %}
  {% set concatenated_address = concatenated_address ~ address_line1 %}
{% endif %}
{% if address_line2 %}
  {% set concatenated_address = concatenated_address ~ address_line2 %}
{% endif %}
{% if dependent_locality.code %}
  {% set concatenated_address = concatenated_address ~ dependent_locality.code %}
{% endif %}
{% if locality or postal_code or administrative_area.code %}
  {% set concatenated_address = concatenated_address ~ ', ' ~ locality ~ ', ' ~  administrative_area.code ~ ' ' ~ postal_code %}
{% endif %}

<p class="p p--paragraph-no-margin" translate="no">
  <span>{{concatenated_address}}</span>
  <a class="link" href="{{search_link_url}}" target="_blank">
    View Map
  </a>
</p>
