@mixin attain-comm-preferences-form-text($color: $grey-7) {
  font-family: $font-tertiary;
  font-size: 1.6rem;
  color: $color;
}

.attain-comm-preferences-form {
  padding-bottom: $space;

  .description {
    margin-bottom: $space-one-half;
    // 4px is because the two elemens above are inline-block/inline-flex
    // 15px is the label left-padding and 60px is the width of the checkbox
    padding-left: 4px + 15px + 60px;
  }

  label {
    @include attain-comm-preferences-form-text;

    padding: 0 0 5px 15px;
  }

  fieldset {
    border: 1px solid #ecede8;
    padding: 20px;
  }

  legend {
    .fieldset-legend {
      @extend .wysiwyg__h2;
      padding: 0 5px;
    }
  }

  .form-submit {
    @include button-small;

    margin-bottom: 10px;
  }

  .form-wrapper {
    margin-bottom: 10px;
  }
}
