<div class="txex-mra">
    <div class="txex-mra-icon">
        <img width="209" height="209" src='/squirrels2.gif'/>
    </div>
    <div>
    <form{{ attributes }}>
            {{ title_prefix }}
            {{ children }}
            {{ title_suffix }}
        </form>
    </div>
</div>