<div style="display: flex;">
    <div>
        <img width="209" height="209" src='/squirrels2.gif'/>
    </div>
    <div>
    <form{{ attributes }}>
            {{ title_prefix }}
            {{ children }}
            {{ title_suffix }}
        </form>
    </div>
</div>