.group-header {
  color: #fff;
  background-color: #294151;
  min-height: 200px;
  position: relative;
  text-align: center;
  font-family: $font-tertiary;

  @include breakpoint($break-layout) {
    min-height: 433px;
  }

  a:link,
  a:visited,
  a:hover,
  a:focus {
    color: #fff;
    text-decoration: none;
  }

  .group-header-background {
    opacity: 0.25;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-repeat: none;
    overflow: hidden;

    @include breakpoint($break-nav-max) {
      display: none;
    }
  }

  .group-header-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    width: 290px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($break-layout) {
      top: 120px;
    }
  }

  .group-header-links {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($break-layout) {
      top: 275px;
    }

    .group-header-links-title {
      @include breakpoint($break-nav-max) {
        display: none;
      }
    }

    a {
      width: 32px;
      height: 32px;
      display: inline-block;
      margin: 15px 8px 0;
      text-indent: -1000px;
      overflow: hidden;
      background-repeat: none;

      @include breakpoint($break-layout) {
        margin: 20px 8px;
      }
    }

    .field_txex_link_01 {
      background-image: url(../images/social-icon-white/scholarship-donation-button.svg);
      background-repeat: no-repeat;
      width: 210px;

      @include breakpoint($break-layout) {
        display: block;
        margin: auto;
        padding: 0;
      }
    }

    .field_txex_link_02 {
      background-image: url(../images/social-icon-white/facebook.svg);
    }

    .field_txex_link_03 {
      background-image: url(../images/social-icon-white/instagram.svg);
    }

    .field_txex_link_04 {
      background-image: url(../images/social-icon-white/linkedin.svg);
    }

    .field_txex_link_05 {
      background-image: url(../images/social-icon-white/twitter.svg);
    }
  }
}
