$standard-margin: 0;

.flexbox__item {
  flex: 1 1 0; //flex-grow flex-shrink flex-basis
  margin-right: $standard-margin;
}

.flexbox__item {
  &:last-of-type {
    margin-right: 0;
  }
}

.flexbox__item--vertical {
  flex: 0 0 auto; //flex-grow flex-shrink flex-basis
  justify-content: stretch;
  margin: 0;
}

// Pattern Lab Specific
.flexbox__item--pl {
  &:nth-of-type(odd) {
    background-color: yellow;
  }

  &:nth-of-type(even) {
    background-color: lightblue;
  }
}

.flexbox__item--pl-1 {
  &:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.flexbox__item--pl-2 {
  &:nth-of-type(odd) {
    background-color: orange;
  }

  &:nth-of-type(even) {
    background-color: purple;
  }
}

.flexbox__item--pl_flexbox-item {
  // flex-basis: auto;
  // width: 300px;
  // height: 300px;
}

.flexbox__item--pl.flexbox__item--feature {
  &:nth-of-type(1) {
    background: red;
  }
}

.flexbox__item--feature-25 {
  &:nth-of-type(1) {
    flex: 0 0 25%;
  }
}

.flexbox__item--feature-33 {
  &:nth-of-type(1) {
    flex: 0 0 33%;
  }
}

.flexbox__item--feature-50 {
  &:nth-of-type(1) {
    flex: 0 0 50%;
  }
}

.flexbox__item--feature-66 {
  &:nth-of-type(1) {
    flex: 0 0 66%;
  }
}

.flexbox__item--feature-75 {
  &:nth-of-type(1) {
    flex: 0 0 75%;
  }
}

.flexbox__item--feature-100 {
  // margin: 0 2.5%;
  &:nth-of-type(1) {
    flex: 0 0 100%;
    align-self: space-around;
    margin: 0 0 $standard-margin 0;
  }

  &:last-of-type {
    // margin-right: 2.5%;
  }
}

.flexbox__item--feature-33,
.flexbox__item--feature-66,
.flexbox__item--feature-100 {
  // border-style: solid;
  // border-width: 1px;
}
