// Create a mixin for unordered list styles that can be implemented
// in components with other classnames.
@mixin unordered-list(
  $color: $paragraph-color-default,
  $font-family: $font-paragraph,
  $font-size: 1.6rem,
  $line-height: 1.7em,
  $margin: '0 0 20px',
  $padding-inline-start: 20px) {
  color: #{$color};
  font-family: $font-family;
  font-size: #{$font-size};
  line-height: $line-height;
  margin: #{$margin};
  padding-inline-start: #{$padding-inline-start};
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// When a unordered list is a block, this is it's class (BEM)
.ul {
  @include unordered-list;
}

.wysiwyg {
  &__ul {
    @extend .ul;
    //@Todo break out into 0000-list-item
    li {
      margin-bottom: 5px;
    }
  }
}
