{% set person_card_base_class = person_card_base_class|default('person-card') %}

<div {{ bem(person_card_base_class, person_card_modifiers, person_card_blockname, person_card_additional_classes) }}>
  <div {{ bem('image-wrapper', person_details_modifiers, person_card_base_class) }}>
    {{ person_card_image }}
  </div>
  <div {{ bem('details', person_details_modifiers, person_card_base_class) }}>
    {% block person_content %}
    {% endblock %}
  </div>
</div>
