{% set layout_base_class = layout_base_class|default('layout') %}
{% set layout_modifiers = layout_modifiers|default([]) %}

{% set layout_level = layout_level + 1 |default(1) %}
{% set layout_modifiers = layout_modifiers|merge({'layout_level' : ('layout-level-'~layout_level),}) %}

{% set layout_base_class_additional = layout_base_class_additional|default(layout_base_class) %}
{% set layout_blockname_additional = layout_blockname_additional|default('item') %}

{% if layout_modifiers_additional %}
  {% set layout_extra = bem2(layout_blockname_additional, (layout_modifiers_additional), layout_base_class_additional) %}
{% endif %}

{% set natural_layout_bem = bem2(layout_base_class, (layout_modifiers), layout_blockname, (layout_extra)) %}
{% set finished_layout_bem = {'class' : natural_layout_bem} %}

{# This var is set to prevent add_attributes griping about an empty var #}
{% set layout_attributes = layout_attributes|default([]) %}
<div
  {#{ bem(layout_base_class, (layout_modifiers), layout_blockname, layout_extra) }#}
  {{ add_attributes(finished_layout_bem) }}
  {{ add_attributes(layout_attributes) }}
>
  {% for layout_item in layout_items %}

    {# ***** Start Patternlab Section 1 ***** #}
    {# Image #}
    {%- if layout_item.img_attributes -%}
      {% set layout_item %}
        {%- include "@atoms/04-images/00-image/00-image.twig" with {
          "img_attributes": layout_item.img_attributes,
          "image_modifiers": layout_item.image_modifiers,
          "image_blockname": layout_section_base_class,
        } -%}
      {% endset %}
    {%- endif -%}
    {# End Image #}
    {# Title #}
    {%- if layout_item.title -%}
      {% set layout_item %}
        {%- if layout_item.link_url -%}
          {%- embed "@atoms/01-links/link/link.twig" with {
            "link_url": layout_item.link_url,
            "link_modifiers": layout_item.modifiers,
            "link_blockname": layout_section_base_class,
          } -%}
            {%- block link_content -%}
              {%- include "@atoms/03-text/01-heading/_heading.twig" with {
                "heading_level": layout_item.level,
                "heading_content": layout_item.title,
                "heading_modifiers": layout_item.modifiers,
                "heading_blockname": layout_section_base_class,
              } -%}
            {%- endblock -%}
          {%- endembed -%}
        {%- else -%}
          {%- include "@atoms/03-text/01-heading/_heading.twig" with {
            "heading_level": layout_item.level,
            "heading_content": layout_item.title,
            "heading_modifiers": layout_item.modifiers,
            "heading_blockname": layout_section_base_class,
          } -%}
        {%- endif -%}
      {% endset %}
    {%- endif -%}
    {# End Title #}
    {# Subtitle #}
    {%- if layout_item.subtitle -%}
      {% set layout_item %}
        {%- if layout_item.link_url -%}
          {%- embed "@atoms/01-links/link/link.twig" with {
            "link_url": layout_item.link_url,
            "link_modifiers": layout_item.modifiers,
            "link_blockname": layout_section_base_class,
          } -%}
            {%- block link_content -%}
              {%- include "@atoms/03-text/01-heading/_heading.twig" with {
                "heading_level": layout_item.level,
                "heading_content": layout_item.subtitle,
                "heading_modifiers": layout_item.modifiers,
                "heading_blockname": layout_section_base_class,
              } -%}
            {%- endblock -%}
          {%- endembed -%}
        {%- else -%}
          {%- include "@atoms/03-text/01-heading/_heading.twig" with {
            "heading_level": layout_item.level,
            "heading_content": layout_item.subtitle,
            "heading_modifiers": layout_item.modifiers,
            "heading_blockname": layout_section_base_class,
          } -%}
        {%- endif -%}
      {% endset %}
    {%- endif -%}
    {# End subtitle #}
    {# Slug #}
    {%- if layout_item.slug -%}
      {% set layout_item %}
        {%- if layout_item.link_url -%}
          {%- embed "@atoms/01-links/link/link.twig" with {
            "link_url": layout_item.link_url,
            "link_modifiers": layout_item.modifiers,
            "link_blockname": layout_section_base_class,
          } -%}
            {%- block link_content -%}
              {%- include "@atoms/03-text/01-heading/_heading.twig" with {
                "heading_level": layout_item.level,
                "heading_content": layout_item.slug,
                "heading_modifiers": layout_item.modifiers,
                "heading_blockname": layout_section_base_class,
              } -%}
            {%- endblock -%}
          {%- endembed -%}
        {%- else -%}
          {%- include "@atoms/03-text/01-heading/_heading.twig" with {
            "heading_level": layout_item.level,
            "heading_content": layout_item.slug,
            "heading_modifiers": layout_item.modifiers,
            "heading_blockname": layout_section_base_class,
          } -%}
        {%- endif -%}
      {% endset %}
    {%- endif -%}
    {# End Slug #}
    {# Paragraph #}
    {%- if layout_item.paragraph -%}
      {% set layout_item %}
        {%- include "@atoms/03-text/02-paragraph/paragraph.twig" with {
          "paragraph_content": layout_item.paragraph,
          "paragraph_modifiers": layout_item.modifiers,
          "paragraph_blockname": layout_section_base_class,
        } -%}
      {% endset %}
    {%- endif -%}
    {# End Paragraph #}
    {# Button #}
    {%- if layout_item.button_attributes -%}
      {% set layout_item %}
        {%- include "@atoms/02-form_elements/01-button/00-button.twig" with {
          "button_content": layout_item.button,
          "button_attributes": layout_item.button_attributes,
          "button_modifiers": layout_item.modifiers,
          "button_blockname": layout_section_base_class,
        } -%}
      {% endset %}
    {%- endif -%}
    {# End Button #}
    {# Link #}
    {%- if layout_item.link_url -%}
      {% set layout_item %}
        {%- include "@atoms/01-links/link/link.twig" with {
          "link_content": layout_item.link,
          "link_url": layout_item.link_url,
          "link_modifiers": layout_item.modifiers,
          "link_blockname": layout_section_base_class,
        } -%}
      {% endset %}
    {%- endif -%}
    {# End Link #}
    {# Placeholder #}
    {%- if layout_item.placeholder -%}
      {% set layout_item %}
        {%- include "@base/layouts/layout/_placeholder.twig" with {
          "placeholder_content": layout_item.placeholder,
          "placeholder_attributes": layout_item.placeholder_attributes,
          "placeholder_modifiers": layout_item.placeholder_modifiers,
          "placeholder_blockname": layout_section_base_class,
        } -%}
      {% endset %}
    {%- endif -%}
    {# End Placeholder #}
    {# ***** End Patternlab Section 1 ***** #}

    {# ***** Start Patternlab Section 2 ***** #}
    {# using card.twig for now #}
    {%- if layout_item.layout_section_items -%}
      {% set layout_section_base_class =  layout_item.layout_section_base_class %}
      {% set layout_section_modifiers =  layout_item.layout_section_modifiers %}
      {% set layout_section_items =  layout_item.layout_section_items %}
      {% set layout_section_layout_extra =  layout_item.layout_section_layout_extra %}

    {% else %}
      {# FOR DRUPAL when using card.twig #}
      {% set layout_section_items =  layout_item %}
    {%- endif -%}
    {# ***** End Patternlab Section 2 ***** #}

    {% block layout_block %}

      {% include "@base/layouts/item/_item.twig" with {
        "item_blockname": layout_blockname|default(layout_base_class),
        "item_modifiers": layout_modifiers,
        "item_content": layout_item,
      } %}

    {% endblock layout_block %}
  {% endfor %}
</div>
