// Pattern Lab Specific
.layout,
.flexbox,
.absolute,
.block {
  &--pl {
    margin: 0;
    background: url('../pattern-lab/public/images/txex/grid-light.svg') 0 0 repeat;
    background-size: 7em;
  }

  &--pl-full {
    width: 100%;
  }

  &--pl-1-column {
    width: 33%;
  }

  &--pl-2-column {
    width: 66%;
  }

  &--pl-half-width {
    width: 50%;
  }

  &--pl-background-transparent {
    background: url('../pattern-lab/public/images/txex/grid-dark.svg') 0 0 repeat;
    background-size: 7em;
  }
  //
  // &--pl-1 {
  //   &:nth-of-type(odd) {
  //     background-color: rgba(0, 0, 0, 0.2);
  //   }
  //
  //   &:nth-of-type(even) {
  //     background-color: rgba(0, 0, 0, 0.4);
  //   }
  // }
  //
  // &--pl-2 {
  //   &:nth-of-type(odd) {
  //     background-color: orange;
  //   }
  //
  //   &:nth-of-type(even) {
  //     background-color: purple;
  //   }
  // }
}

.placeholder {
  &--pl-void {
    height: 100%;
    min-height: 200px;
    width: 100%;
    border-width: 2px;
    border-style: dashed;
  }

  &--pl-background-image {
    position: relative;
    overflow: hidden;
    height: 30vw;
    background-color: $white;
    // border-width: 2px;
    // border-style: dashed;

    &::before {
      content: "";
      position: absolute;
      width: 200%;
      height: 300%;
      top: -100%;
      left: -50%;
      background: url('../pattern-lab/public/images/txex/grid-dark.svg') 0 0 repeat;
      background-size: 7em;
    }
  }
}
