.flexbox {
  display: flex;
  justify-content: center;
  // align-items: center;

  &--background-color-1 {
    background-color: $absolute-background-color-1;
  }
}

.flexbox--horizontal {
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.flexbox--vertical {
  flex-direction: column;
  // justify-content: center;
  justify-content: flex-start;
}

.flexbox--feature-100 {
  flex-wrap: wrap;
}

.flexbox--paragraph-wrapper {
  height: 100%;
  width: 100%;
}
