.absolute,
.flexbox,
.block {
  &--paragraph-wrapper {
    height: 100%;
    width: 100%;
  }

  &--layout-box-1 {
    padding: 0;
    margin-bottom: $row-margin;
    border-width: $row-border-width;
  }

  &--layout-box-2 {
    padding: 0 $row-padding;
    margin-bottom: $row-margin;
    border-width: $row-border-width;
  }

  &--layout-box-3 {
    padding: $row-padding;
    margin-bottom: $row-margin;
    border-width: $row-border-width;
  }

  &--layout-box-4 {
    padding: $component-padding;
    border-width: $component-border-width;
  }

  &--layout-box-5 {
    padding: $list-item-padding 0;
    border-width: $list-item-border-width;
  }

  &--layout-box-6 {
    padding: 0;
    border-width: $component-border-width;
  }

  &--layout-box-7 {
    margin-bottom: $component-margin;
    border-width: $component-border-width;

    &:only-of-type {
      margin-bottom: 0;
    }
  }

  // &--layout-box-8 {
  //   margin-bottom: $component-margin;
  //   border-width: $component-border-width;
  // }

  &--layout-background-1 {
    background-color: $layout-background-color-1;
  }

  &--layout-background-2 {
    background-color: $layout-background-color-2;
  }

  &--layout-background-3 {
    background-color: $layout-background-color-3;
    border-style: solid;
    border-color: $layout-border-color-1;
  }

  &--layout-background-4 {
    background-color: $layout-background-color-4;
  }

  &--layout-background-5 {
    background-color: $layout-background-color-5;
  }

  &--layout-background-6 {
    background-color: $layout-background-color-6;
    border-top-style: solid;
    border-color: $layout-border-color-6;
  }

  &--layout-background-7 {
    background-color: $layout-background-color-7;
  }

  &--layout-background-8 {
    background-color: $layout-background-color-8;
  }

  &--layout-background-9 {
    background-color: $layout-background-color-9;
  }

  &--layout-background-10 {
    background-color: $layout-background-color-10;
  }

  // &--background-color-9 {
  //   border-top-style: solid;
  //   border-color: $layout-border-color-1;
  // }
}

.absolute {
  position: relative;
  overflow: auto;
}

.flexbox {
  display: flex;
  justify-content: center;

  &--horizontal {
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
  }

  &--vertical {
    flex-direction: column;
    justify-content: center;

    &:first-of-type {
      justify-content: flex-start;
    }
  }

  &--feature-100 {
    flex-wrap: wrap;
    align-content: flex-start;
  }
}

.block {
  position: relative;
}
