{% extends "field.html.twig" %}
{% set attributes = attributes.addClass('benefit-eligibility') %}

{% block items_list_prefix %}
  <span class="flexbox__h2 flexbox__h2--alt-7">Available to</span>
{% endblock %}

{% block item_block %}
  {{- item.content -}}
{% endblock %}
