.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  &__heading {
    @include section-heading;
  }

  &__item {
    flex: 1 1 auto;
    padding: 0 $space-one-third;
    margin-bottom: $space-and-half;
  }
}
