.grid {
  display: flex;
  flex-flow: row wrap;

  &__heading {
    @include section-heading;
  }

  &__item {
    flex: 1 1 auto;
    margin-right: $space-double;
    margin-bottom: $space-and-half;
  }
}
