.hero-2 {
  @include clearfix;
  // padding: 1em;
  position: relative;

  .copy__title {
    @include heading($font-size: 1.3rem);
    @include no-bottom;

    &-link {
      @include link;
    }
  }

  .copy__title {
    display: inline-block;
    padding: 0.25em 0.5em;
    background-color: $gray-lightest;
    border-style: solid;
    border-width: 1px;

    // position: relative;
    // left: 3%;
  }

  .copy__subtitle {
    @include heading($font-size: 1rem);
    @include no-bottom;
    // color: $gray;
  }

  .copy__subtitle {
    font-size: 2em;
    margin: 2em;

    // position: relative;
    // left: 3%;
  }

  .copy__body {
    margin: 0.7em 0 1em;

    // position: relative;
    // left: 3%;
  }

  .copy__link {
    @include link;
  }

  .copy__button {
    @include button;
    // display: block;
    margin: auto;
    // margin-top: 1em;
    position: relative;
    bottom: -2.2em;
  }
}

.hero-2__inset {
  line-height: 0;
}

.hero-2__copy {
  position: absolute;
  top: 0;
  width: 50%;
  padding: 0 3% 1em;
}

// Variations
.hero-2--bg {
  background-color: $gray-lightest;
  padding: 1em;
}

.hero-2--bottom {
  .hero-2__copy {
    position: relative;
    top: -4em;
    width: 100%;
  }

  .hero-2__copy::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
    border-style: solid;
  }

  .copy__title {
    position: relative;
    // top: -4em;
    margin-bottom: 1em;
  }

  .copy__subtitle {
    position: relative;
    // left: 0;
    font-size: 2em;
    margin: 0.5em 0;
  }
}

.hero-2--left,
.hero-2--right {
  .hero-2__inset {
    width: 80%;
  }

  .hero-2__copy {
    padding: 3% 1em;
    margin: 0;
    width: 20%;
    float: left;
    position: static;
  }

  .copy__title {
    font-size: 2em;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-style: none;
  }

  .copy__subtitle {
    padding: 1em 0;
    margin: 0;
    font-size: 1em;
  }

  &.hero-2--left-50,
  &.hero-2--right-50 {
    .hero-2__inset,
    .hero-2__copy {
      width: 50%;
    }
  }
}

.hero-2--left {
  .hero-2__inset {
    padding-left: 0 0 0 10px;
    float: right;
  }
}

.hero-2--right {
  .hero-2__inset {
    padding: 0 10px 0 0;
    float: left;
  }
}
