$font-paragraph: $font-tertiary;

// Create a mixin for paragraph styles that can be implemented
// in components with other classnames.
@mixin paragraph(
  $margin: '0 0 10px',
  $font-size: 1.6rem,
  $font-family: $font-paragraph,
  $color: $paragraph-color-default,
  $line-height: 1.5) {
  font-size: #{$font-size};
  font-family: $font-family;
  font-weight: 400;
  margin: #{$margin};
  color: #{$color};
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// When a paragraph is a block, this is it's class (BEM)
p,
.p {
  @include paragraph;

  &--strong {
    font-weight: 500;
  }

  &--paragraph-no-margin {
    margin: 0;
  }
}

// A paragraph that is an element of a paragraph-01 block
.p-01__paragraph {
  @extend .p;
}

.wysiwyg {
  &__p {
    @extend .p;

    margin: 0 0 20px;

    &--paragraph-no-margin {
      margin: 0;
    }

    &.hack__p--alt-1{
      font-family: $font-primary;
      font-size: 2.1rem;
      font-weight: 400;
      line-height: 1.3;
      margin: 0 0 20px;
    }

    &.no-margin {
      margin: 0;
    }
  }
}

.flexbox {
  &__p {
    @extend .p;

    &--alt-1 {
      color: $paragraph-color-1;
    }

    &--alt-2 {
      color: $paragraph-color-2;
    }

    &--alt-5 {
      font-family: $font-heading-h2-alt-5;
      font-size: 0.91em;
      margin: 10px 0;
    }

    &--alt-8 {
      // font-family: $font-heading-h2-alt-5;
      font-size: 1.456rem;
      text-align: center;
      // margin: 10px 0;
    }

    &--alt-9 {
      color: $paragraph-color-2;
      font-size: 2.096rem;
      font-family: $font-heading-2;
      letter-spacing: -0.005em;
      line-height: 1.29;
      font-weight: 400;
      text-align: center;
    }

    &--alt-11 {
      color: $paragraph-color-2;
      position: relative;

      &::before {
        font-family: $font-primary;
        content: "“";
        font-size: 29rem;
        margin: auto;
        position: absolute;
        top: 0;
        left: -80px;
        bottom: 0;
        right: 0;
        height: 3rem;
        line-height: 11rem;
        color: rgba(255, 255, 255, 0.12);
      }
    }

    &--paragraph-no-margin {
      margin: 0;
    }
  }
}
