// Create a mixin for paragraph styles that can be implemented
// in components with other classnames.
@mixin paragraph(
  $margin: '0 0 10px',
  $font-size: 1.6rem,
  $font-family: $font-paragraph,
  $color: $paragraph-color-default,
  $line-height: 1.7) {
  font-size: #{$font-size};
  font-family: #{$font-family};
  margin: #{$margin};
  color: #{$color};
  line-height: $line-height;
}

// When a paragraph is a block, this is it's class (BEM)
.p {
  @include paragraph;
}

// An paragraph that is an element of a paragraph-01 block
.p-01__paragraph {
  @extend .p;
}

.flexbox,
.wysiwyg {
  &__p {
    @extend .p;

    &--alt-1 {
      color: $paragraph-color-1;
    }

    &--alt-2 {
      color: $paragraph-color-2;
    }

    &--alt-5 {
      font-family: $font-heading-h2-alt-5;
      font-size: 0.91em;
      margin: 10px 0;
    }
  }
}
