.event {
  margin-top: $space-one-third;
}

.event-meta {
  margin: $space 0;

  .event-meta-item {
    margin-bottom: $space-one-half;
    font-family: $font-tertiary;
    color: $grey-a;

    .link--address {
      color: $grey-a;
      text-decoration: none;

      span {
        display: inline-block;
      }
    }
  }
}
