.event {
  margin-top: $space-one-third;
}

.event-meta {
  margin: $space 0;
  display: flex;

  .event-meta-section {
    &:first-child {
      flex: 0 0 $space-double;
      margin-right: $space-two-thirds;
    }
  }

  .event-meta-item {
    margin-bottom: $space-one-half;
  }
}

article.event-list {
  .flexbox__item {
    &--feature-15 {
      &:first-of-type {
        flex: 0 1 90px;
      }
    }
  }

  .flexbox__item {
    img {
      min-width: 75px;
      max-width: 75px;
    }
  }
}
