.password {

  &-strength,
  &-confirm {
    @extend .p;

    &__meter {

    }

    &__indicator {
      &.is-weak {
        background-color: red;
        border-color: red;
        border-style: solid;
      }

      &.is-fair {
        background-color: orange;
      }

      &.is-good {
        background-color: #ffe046;
      }

      &.is-strong {
        background-color: green;
      }

    }

    &__title {

    }

    &__text {

    }

    & .error {
      color: red;
    }

    & .ok {
      // color: green;
    }
  }

  &-policy-constraint {
    &-failed {
      .td:nth-of-type(2) {
        color: red;
      }
    }

    &-passed {
      .td:nth-of-type(2) {
        color: green;
      }
    }
  }
}

// https://www.drupal.org/docs/8/theming-drupal-8/classy-themes-css-selectors
// .password-strength__meter { }
// .password-strength__indicator { }
// .password-strength__indicator.is-weak { }
// .password-strength__indicator.is-fair { }
// .password-strength__indicator.is-good { }
// .password-strength__indicator.is-strong { }
// .password-confirm { }
// .password-field { }
// .password-strength { }
// .password-confirm-match { }
// .password-suggestions { }
// .password-suggestions ul { }
// .confirm-parent { }
// .password-parent { }
// [dir="rtl"] .confirm-parent { }
// [dir="rtl"] .password-parent { }
// .password-confirm .ok { }
// .password-confirm .error { }
