.breadcrumbs-nav {
  & a {
    color: $menu-text-color-6;
    text-decoration: none;
    // padding-right: 0.5em;
    padding: 0.5em;
    font-size: 0.8em;
    font-family: "Rubik";

    &:hover {
      background-color: $main-menu-highlight;
      color: $menu-text-color-2;
    }
  }

  & svg {
    width: 0.25em;
    // height: 16px;
    vertical-align: middle;
    fill: $menu-text-color-5;
    fill: #e6e6e6;
    // margin-right: 0.25em;
  }

  & svg:last-of-type {
    display: none;
  }

  ol {
    list-style: none;
    padding: 0;

    @include breakpoint($break-nav) {
      padding-left: 46px;
      margin-bottom: $space;
    }

    li:last-of-type {
      a {
        color: #888;
        background-color: #f6f6f2;

        &:hover {
          background-color: #34364d;
          color: #f6f6f2;
        }
      }
    }
  }

  li {
    display: inline-block;
  }
}
