.breadcrumbs-nav {
  display: none;
  
  @include breakpoint($break-nav) {
    display: block;
    margin: $space-one-half 0;
  }

  & a {
    color: $menu-text-color-6;
    text-decoration: none;
    padding: $space-one-half 0.8rem;
    font-size: 1.3rem;
    font-family: "Rubik";

    &:hover {
      // background-color: $main-menu-highlight;
      // color: $menu-text-color-2;
      color: $burnt-orange;
    }
  }

  & svg {
    width: 0.4rem;
    // height: 16px;
    vertical-align: middle;
    fill: $menu-text-color-5;
    fill: #e6e6e6;
    // margin-right: 0.25em;
  }

  & svg:last-of-type {
    display: none;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    @include breakpoint($break-nav) {
      padding: 0 $space-and-half;
    }

    li:last-of-type {
      a {
        cursor: default;
        // color: $burnt-orange;

        &:hover {
          // background-color: $mushroom-lighter;
          color: $menu-text-color-6;
        }
      }
    }
  }

  li {
    display: inline-block;
    line-height: 1.7;
  }
}
