$menu-selected-item-color: #38354c;

$main-menu-highlight: #37354c;
$main-menu-sub-highlight: #3c3b56;
$main-menu-vertical-border: #4c486a;

$menu-background-color-1: #3d3b55;
$menu-background-color-2: #f2f3ed;
$menu-text-color-1: #383837;
$menu-text-color-2: #f6f6f3;
$menu-text-color-3: #817f96;

.main-navigation-region {
  .menu-level-0 {
    font-family: "Knockout 30 A", "Knockout 30 B";
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // font-size: 20px;
    font-size: 1.3em;
    line-height: 23px;
    color: #222;
    background: #f3f3ed;
  }

  .menu-level-1 {
    font-family: "Sentinel A", "Sentinel B";
    font-style: normal;
    font-weight: 800;
    // font-size: 16px;
    font-size: 0.8em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    line-height: 25px;
    // margin-bottom: 10px;
  }

  .menu-level-2 {
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // font-size: 14px;
    font-size: 0.85em;
    color: #a3a1b5;
    line-height: 25px;
  }

  .flexbox--feature-100 {
    a {
      font-family: 'Rubik', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 0.75em;
    }
  }

  .menu-dropdown-0 {
    .h2--title {
      // color: $menu-text-color-2;
    }
  }

  .menu.flexbox {
    position: relative;
    z-index: 10;
    // padding: 0;

    border-style: none;
  }

  .menu {
    .flexbox {
      border-style: none;
      // height: 100%;
    }

    & a {
      text-decoration: none;
    }
  }

  .menu-item {
    list-style: none;
  }

  .menu-level-0 > .menu-item.flexbox__item {
    flex: 0 0 auto;
  }

  .menu-level-1 {
    // display: block;
    flex-wrap: wrap;
    height: 100%;
    justify-content: flex-start;
  }

  .menu {
    // -webkit-column-break-inside: avoid;
    // break-inside: avoid;
    // page-break-inside: avoid; //firefox hack
  }

  .menu-item--columns-1 {
    .menu-level-1 {
      // columns: none;
    }
  }

  .menu-item--columns-2 {
    .menu-level-1 {
      // columns: 2;
    }
  }

  .menu-item--columns-3 {
    .menu-level-1 {
      // columns: 3;
    }
  }

  .menu-item--columns-4 {
    .menu-level-1 {
      // columns: 4;
    }
  }

  .menu-item--columns-5 {
    .menu-level-1 {
      // columns: 5;
    }
  }

  .menu-dropdown-0 > .flexbox {
    height: 100%;
  }

  .menu-dropdown-0 > .flexbox > .flexbox__item:last-child > :first-child {
    border: 0;
    border-left: 1px;
    border-style: solid;
    border-color: $main-menu-vertical-border;
  }

  .menu-level-0 {
    background-color: $menu-background-color-2;
    padding: 0 30px;
    // clear: both;

    & > .menu-item > a {
      color: $menu-text-color-1;
    }

    .menu-item {
      padding: 15px 20px;

      .menu-dropdown-0 {
        position: absolute;
        padding: 40px;
        top: -9999px;
        left: 0;
        width: 100%;
        background-color: $main-menu-sub-highlight;
        z-index: 50;
      }
    }
  }

  .menu-level-0 {
    & > .menu-item--active-trail {
      background-color: $main-menu-highlight;

      & > a {
        color: $menu-text-color-2;
      }
    }

    & > .menu-item:hover {
      background-color: $main-menu-highlight;

      .menu-dropdown-0 {
        position: absolute;
        top: 100%;
        background-color: $main-menu-sub-highlight;
      }

      & > a {
        color: $menu-text-color-2;
      }
    }
  }

  /* ********TEMP***** */
  // .menu-level-0 > .menu-item:nth-of-type(1) {
  //   > a {
  //     color: $menu-text-color-2;
  //   }
  //   background-color: $main-menu-highlight;
  //
  //   .menu-dropdown-0 {
  //     position: absolute;
  //     top: 100%;
  //     width: 100%;
  //     background-color: $main-menu-sub-highlight;
  //   }
  // }

  /* **** */

  .menu-level-1 {
    align-content: flex-start;

    .menu-item {
      // font-size: .75em;
      & a {
        color: $menu-text-color-2;
      }

      a:hover {
        color: $menu-text-color-3;
      }

      padding: 0 40px 20px 0;
      flex: 0;
      // padding: 0;
    }
  }

  .menu-level-2 {
    padding: 20px 0 0;

    .menu-item {
      padding: 0 0 5px;

      &:last-child {
        padding: 0;
      }

      & a {
        color: $menu-text-color-3;
      }

      & a:hover {
        color: $menu-background-color-2;
      }
    }
  }

  .menu-level-3 {
    padding: 5px 0 0 25px;

    .menu-item {
      padding: 0 0 10px;
    }
  }
}

.content-region {
  .menu {
    padding: 0 0 0 20px;
    margin: 0;

    & .flexbox {
      border-style: none;
    }

    &.menu-level-0 {
      padding: 0 0 0 40px;
    }

    &.menu-level-1 {
      & a {
        color: #aaa;
      }
    }

    & a {
      text-decoration: none;
      display: inline-block;
      width: 100%;
      padding: 10px 15px;
      margin-bottom: 6px;

      /* text: */
      font-family: 'Rubik', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 1em;
      color: #565656;
      line-height: 1.5em;

      &:hover,
      &.is-active {
        /* highlight color: */
        color: #cb6015;

        /* highlight box: */
        border-radius: 2px;
        background-color: #f6f7f3;
      }
    }
  }

  .menu-item {
    list-style: none;
  }
}
