$main-menu-highlight: #37354c;
$main-menu-sub-highlight: #3c3b56;
$main-menu-vertical-border: #4c486a;

$menu-text-color-1: #383737; //dark grey
$menu-text-color-2: #f6f6f4; //light grey
$menu-text-color-3: #96967f; //light purple
$menu-text-color-4: #444; //dark grey
$menu-text-color-5: #cb6015; //dark orange
$menu-text-color-6: #aaa; //light grey

.account-nav {
  float: right;
  height: 2em; //to allow child to vertical align text
  line-height: 2em; //to allow child to vertical align text

  & svg {
    width: 1.2em;
    // height: 16px;
    vertical-align: middle;
    fill: $menu-text-color-5;
    margin-left: 1em;
  }

  &:hover {
    background-color: $main-menu-highlight;

    & svg {
      fill: $menu-text-color-2;
    }

    & a {
      color: $menu-text-color-2;
    }
  }

  &:hover ul ul {
    background-color: $main-menu-sub-highlight;
    top: 100%;

    & a {
      color: $menu-text-color-2;

      &:hover {
        // color: $menu-text-color-3;
      }
    }

    & li:hover {
      background-color: $main-menu-highlight;
    }
  }
}

.account-nav__menu {
  margin: 0;
  padding: 0;
  height: 100%;
  float: right;
  position: relative;

  & > .account-nav__menu--item {
    > a {
      padding-right: 0;
    }
  }
}

.account-nav__menu--item {
  display: inline-block;
  // vertical-align: middle;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // font-size: 14px;
  font-size: 0.95em;
  // color: #a3a1b5;
  line-height: 21px;

  ul {
    position: absolute;
    top: -9999px;
    right: 0;
    width: 200%;
    padding: 0.5em 0;
    z-index: 10;

    li {
      width: 100%;
      text-align: left;
    }
  }

  & a {
    margin: 0 1em;
    display: block;
    text-decoration: none;
    color: $menu-text-color-5;
  }
}

.secondary-nav {
  clear: right;
  float: right;
}

.secondary-nav__menu--item {
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // font-size: 14px;
  font-size: 0.95em;
  // color: #a3a1b5;
  line-height: 21px;

  & a {
    padding: 0.75em 1.5em;
    display: block;
    color: $menu-text-color-4;
    text-decoration: none;
  }
}

.secondary-nav__menu--item:last-child {
  & a {
    color: white;
    background-color: #cb6015;
    border-radius: 4px;
  }

  & a:hover {
    background-color: $main-menu-highlight;
  }
}

.primary-nav {
  clear: both;
}

.footer-nav {
  display: inline-block;
}

.footer-nav__menu {
  padding: 0;
  margin: 2em 0 0;
}

.footer-nav__menu--item {
  display: inline-block;

  & a {
    color: $menu-text-color-5;
    text-decoration: none;
    padding-right: 1em;
    font-size: 15px;
    font-family: "Rubik";
    line-height: 23px;
    text-align: left;
  }
}

.breadcrumbs-nav {
  & a {
    color: $menu-text-color-6;
    text-decoration: none;
    // padding-right: 0.5em;
    padding: 0.5em;
    font-size: 0.8em;
    font-family: "Rubik";

    &:hover {
      background-color: $main-menu-highlight;
      color: $menu-text-color-2;
    }
  }

  & svg {
    width: 0.25em;
    // height: 16px;
    vertical-align: middle;
    fill: $menu-text-color-5;
    fill: #e6e6e6;
    // margin-right: 0.25em;
  }

  & svg:last-of-type {
    display: none;
  }

  ol {
    list-style: none;
    padding-left: 46px;
  }

  li {
    display: inline-block;
  }
}

.local-tasks-nav {
  & a {
    // color: $blue;
    text-decoration: none;
    padding-right: 1em;
    font-size: 0.8em;
    font-family: "Rubik";
  }

  ul {
    list-style: none;
    padding-left: 52px;
  }

  li {
    display: inline-block;
  }
}
