// Backgrounds
// $color-menu-bg-darker: $purple-1;
$color-menu-bg-dark: $purple-2;
// $color-menu-bg-light: $mushroom-light;
// Menu width
// $width-mobile-max: 90vw;
// Text
// $color-menu-text-dark: $purple-5;
$color-menu-text-medium: $purple-4;
// $color-menu-text-light: $white;
// Submenu toggles
$side-menu-dropdown-toggle-icon-width: $space-one-third;
$side-menu-dropdown-toggle-padding: $space;
// $side-menu-dropdown-toggle-total-width: ($side-menu-dropdown-toggle-icon-width + $side-menu-dropdown-toggle-padding);
// Moble Nave space
// $mobile-nav-item-padding: $space-one-half;

$sidebar-nav-item-horizontal-padding: $space-one-third;
$sidebar-nav-item-vertical-padding: $space-one-third;

.side-menu {
  $parent: &;

  padding: 0;
  width: 100%;

  a {
    color: $grey-7;
    display: block;
    flex: 1 0 auto;
    font-family: $font-tertiary;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    padding: $sidebar-nav-item-vertical-padding $sidebar-nav-item-horizontal-padding;
    position: relative;
    text-decoration: none;
    // max-width: calc(#{$width-mobile-max} - #{$main-menu-dropdown-toggle-width});
    width: calc(100% - #{$side-menu-dropdown-toggle-padding});
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:hover {
      // &::after {
      //   background-color: $mushroom-lighter;
      //   bottom: 0;
      //   content: "";
      //   display: block;
      //   left: 0;
      //   right: -$side-menu-dropdown-toggle-padding;
      //   position: absolute;
      //   top: 0;
      //   z-index: -1;
      // }

      color: $burnt-orange;

      &.is-active {
        background: $mushroom-light;
      }

      // & ~ #{$parent}__expand-sub {
      //   background: $mushroom-lighter;
      // }
    }
  }

  &--level-0 {
    margin: -10px 0 0;
  }

  &__dropdown {
    display: none;

    &.js-visible {
      display: flex;
      flex-basis: 100%;
    }
  }

  &__dropdown-inner {
    width: 100%;
  }

  &__item {
    list-style: none;
    position: relative;

    a {
      flex: 1 1 auto;
      padding: $sidebar-nav-item-vertical-padding $sidebar-nav-item-horizontal-padding;

      // &::after {
      //   background-color: transparent;
      //   bottom: 0;
      //   content: "";
      //   display: block;
      //   left: 0;
      //   right: -$side-menu-dropdown-toggle-padding;
      //   position: absolute;
      //   top: 0;
      //   z-index: -1;
      // }

      &.is-active {
        background: $mushroom-light;
        color: $burnt-orange;

        // &::after {
        //   background-color: $mushroom-lighter;
        // }
      }
    }

    &:hover {
      & > a {
        background-color: $mushroom-lighter;
        color: $burnt-orange;
      }

      & > #{$parent}__expand-sub {
        background: $mushroom-lighter;

        & #{$parent}__sub-icon {
          fill: $burnt-orange;
        }
      }
    }

    @at-root &#{&}:hover {
      // background: $mushroom-lighter;
      //
      // & #{$parent}__item {
      //   background: white;
      // }

      // & #{$parent}__expand-sub {
      //   background: white;
      // }
      //
      // @at-root & #{&} {
      //   background: white;
      // }

      // > a {
      //   background: $mushroom-lighter;
      //   color: $burnt-orange;
      //
      //   &.is-active {
      //     background: $mushroom-light;
      //   }
      //
      //   & + #{$parent}__expand-sub {
      //     background: $mushroom-lighter;
      //   }
      // }

      // & > #{$parent}__expand-sub {
      //   background: $mushroom-lighter;
      // }
    }

    &--level-1 {
      a {
        padding-left: $sidebar-nav-item-horizontal-padding * 2;
      }
    }

    &--with-sub {
      display: flex;
      flex-flow: row wrap;
      overflow: hidden;
    }
  }

  &__expand-sub {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 0 0 $space;
    justify-content: center;
    z-index: 1;

    // &:hover {
    //   & #{$parent}__sub-icon {
    //     fill: $burnt-orange;
    //   }
    // }
  }

  &__sub-icon {
    fill: $grey-c;
    height: $side-menu-dropdown-toggle-icon-width;
    transform: rotate(0deg);
    transition: transform .3s ease-in-out 0s;
    width: $side-menu-dropdown-toggle-icon-width;

    &--open {
      // fill: $grey-c;
      transform: rotate(90deg);
      transition: transform .3s ease-in-out 0s;
    }
  }
}

.block-region-sidebar {

  .main-menu--level-1 {//only needed because of bug in menu_item_extras when caching enabled
    max-height: initial;

    // a {
    //   padding-left: $sidebar-nav-item-horizontal-padding * 2;
    // }

    > .menu-item--active-trail {
      > a {
        color: $grey-8;
      }

      > a:hover {
        color: $burnt-orange;
      }
    }
  }
}

.side-menu {

  &__item {


    .menu-item--active-trail > a {
      color: $burnt-orange;
    }

  }

}
