{% extends "menu--txex--not-hooked.html.twig" %}
{% set menu_bem_blockname = 'main-menu' %}
{% set menu_list_classes_extra = ['flexbox','flexbox--horizontal'] %}
{% set menu_item_classes_extra = ['flexbox__item'] %}

{% block content %}
{{ attach_library('d8_theme_main/main_menu') }}
<div class="main-menu-wrapper">
  <a href="#" class="main-menu-toggle main-menu-toggle--open">
    <span class="main-menu-toggle__icon"></span>
  </a>
  <nav id="main-nav" class="main-nav">
    <div class="main-nav--search-mobile">
      <span class="main-nav--search-mobile__box">
        {{ drupal_entity('block', 'exposedformsearch_index_contentpage_1') }}
      </span>
      <a href="#" class="main-nav--search-mobile__link main-menu-toggle main-menu-toggle--close">
        <span class="main-menu-toggle__icon js-menu-active"></span>
      </a>
    </div>
    {{ parent() }}
  </nav>
</div>
{% endblock content %}
