@mixin user-edit-form-text($color: $grey-7) {
  font-family: $font-tertiary;
  font-size: 1.6rem;
  color: $color;
}

.page--user--edit {
  .layout-content {
    // @include wrapper($container-max-width: $medium);
  }
}

.user-form {
  // padding-bottom: 30px;

  .form-item {
    // display: flex;
    // flex-flow: row wrap;
    // margin-bottom: $space-one-half;
  }

  .field-group-html-element {
    & > * {
      padding-left: 30px;

      &:first-child {
        padding-left: 0;
      }
    }
  }



  .form-text,
  .form-email {
    border: 1px solid $grey-c;
    border-radius: 2px;
    height: 34px;
    padding: 0 0.5em;

    @include breakpoint(350px) {
      // width: 234px;
    }

    &::placeholder {
      @include user-edit-form-text(
        $color: $grey-b
      );
    }
  }

  fieldset {
    // border: 1px solid #ecede8;
    // padding: 20px;
  }

  legend {
    .fieldset-legend {
      // @extend .wysiwyg__h2;
      // padding: 0 5px;
    }
  }

  summary {
    @extend .wysiwyg__h3;
  }

  .wysiwyg__h4 {
    margin: 0;
  }

  .option {
    display: inline;
    padding: 0 0 15px 15px;
  }

  .description {
    @include visually-hidden;
  }

  .form-submit {
    // @include button-small;
  }
}
